# Merging SOC 2018 and Census 2010 Occupational Codes

## Statement of the Problem

To explore the question of flexibility, the inherent properties of occupations should be considered. To do this, I use data from O\*Net to build an index of flexibility for a particular occupation. However, the O\*Net database uses the Standard Occupation Classification (SOC) Code, updated annually, while the CPS and ATUS use the 2010 Census Occupation Classification Codes. 

Linking the occupation codes requires utilizing the Crosswalk (https://www2.census.gov/programs-surveys/demo/guidance/industry-occupation/2018-occupation-code-list-and-crosswalk.xlsx). The design of the Crosswalk between 2018 SOC and 2010 Census is not friendly to easy linking. 

In order to use the Crosswalk to link the 2018 SOC with the 2010 Census, we must first extract some codes from the 2018 Census Title column, fill in empty cells (imported as NaN), create a dictionary, and append the 2010 Census codes to some O\*Net data. 

With the final .csv, we can merge the CPS/ATUS data with the O\*Net job characteristics via the 2010 Census occupation code.

## Extracting 2018 SOC Codes

In [1]:
import pandas as pd

Download the crosswalk table, removing the first three rows of title, date updated, and white space.

In [7]:
crosswalk = pd.read_csv('../2010 to 2018 Crosswalk -Table 1.csv',skiprows=3)

Looking at the first ten rows of the data, we see that there are SOC Codes in the Census Title column. We want to extract these codes and put them into the SOC Code column.

In [8]:
crosswalk[0:10]

,2010 SOC code,2010 Census Code,2010 Census Title \n,2018 SOC Code,2018 Census Code,2018 Census Title
0,11-1011,0010,Chief Executives,11-1011,10.0,Chief Executives
1,11-1021,0020,General and Operations Managers,11-1021,20.0,General and Operations Managers
2,11-1031,0030,Legislators,11-1031,30.0,Legislators
3,11-2011,0040,Advertising and Promotions Managers,11-2011,40.0,Advertising and Promotions Managers
4,11-2020,0050,Marketing and Sales Managers,NaN,NaN,NaN
5,NaN,NaN,NaN,11-2021,51.0,Marketing Managers
6,NaN,NaN,NaN,11-2022,52.0,Sales Managers
7,11-2031,0060,Public Relations and Fundraising Managers,11-2030,60.0,Public Relations and Fundraising Managers
8,NaN,NaN,NaN,NaN,NaN,Public Relations Managers (11-2032)
9,NaN,NaN,NaN,NaN,NaN,Fundraising Managers (11-2033)

To extract the codes, we are going to use the split function.

First we split along the first parenthesis.

In [9]:
crosswalk[['2018 Census Title short','tmp_Code']] = crosswalk['2018 Census Title '].str.split("(", expand=True)

In [10]:
crosswalk.head(10)

,2010 SOC code,2010 Census Code,2010 Census Title \n,2018 SOC Code,2018 Census Code,2018 Census Title,2018 Census Title short,tmp_Code
0,11-1011,0010,Chief Executives,11-1011,10.0,Chief Executives,Chief Executives,None
1,11-1021,0020,General and Operations Managers,11-1021,20.0,General and Operations Managers,General and Operations Managers,None
2,11-1031,0030,Legislators,11-1031,30.0,Legislators,Legislators,None
3,11-2011,0040,Advertising and Promotions Managers,11-2011,40.0,Advertising and Promotions Managers,Advertising and Promotions Managers,None
4,11-2020,0050,Marketing and Sales Managers,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,11-2021,51.0,Marketing Managers,Marketing Managers,None
6,NaN,NaN,NaN,11-2022,52.0,Sales Managers,Sales Managers,None
7,11-2031,0060,Public Relations and Fundraising Managers,11-2030,60.0,Public Relations and Fundraising Managers,Public Relations and Fundraising Managers,None
8,NaN,NaN,NaN,NaN,NaN,Public Relations Managers (11-2032),Public Relations Managers,11-2032)
9,NaN,NaN,NaN,NaN,NaN,Fundraising Managers (11-2033),Fundraising Managers,11-2033)

Now we split along the second parenthesis, and drop the unnecessary columns.

In [11]:
crosswalk[['Code','paren']] = crosswalk['tmp_Code'].str.split(")", expand=True)
crosswalk.drop(['tmp_Code', 'paren'], axis = 1, inplace = True)

In [12]:
crosswalk.head(10)

,2010 SOC code,2010 Census Code,2010 Census Title \n,2018 SOC Code,2018 Census Code,2018 Census Title,2018 Census Title short,Code
0,11-1011,0010,Chief Executives,11-1011,10.0,Chief Executives,Chief Executives,None
1,11-1021,0020,General and Operations Managers,11-1021,20.0,General and Operations Managers,General and Operations Managers,None
2,11-1031,0030,Legislators,11-1031,30.0,Legislators,Legislators,None
3,11-2011,0040,Advertising and Promotions Managers,11-2011,40.0,Advertising and Promotions Managers,Advertising and Promotions Managers,None
4,11-2020,0050,Marketing and Sales Managers,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,11-2021,51.0,Marketing Managers,Marketing Managers,None
6,NaN,NaN,NaN,11-2022,52.0,Sales Managers,Sales Managers,None
7,11-2031,0060,Public Relations and Fundraising Managers,11-2030,60.0,Public Relations and Fundraising Managers,Public Relations and Fundraising Managers,None
8,NaN,NaN,NaN,NaN,NaN,Public Relations Managers (11-2032),Public Relations Managers,11-2032
9,NaN,NaN,NaN,NaN,NaN,Fundraising Managers (11-2033),Fundraising Managers,11-2033

Now that we have extracted the SOC Codes from the Census title, we need to move the values to the 2018 SOC Code column

In [13]:
crosswalk['2018 SOC Code'].fillna(value=crosswalk['Code'], inplace=True)

In [14]:
crosswalk.head(10)

,2010 SOC code,2010 Census Code,2010 Census Title \n,2018 SOC Code,2018 Census Code,2018 Census Title,2018 Census Title short,Code
0,11-1011,0010,Chief Executives,11-1011,10.0,Chief Executives,Chief Executives,None
1,11-1021,0020,General and Operations Managers,11-1021,20.0,General and Operations Managers,General and Operations Managers,None
2,11-1031,0030,Legislators,11-1031,30.0,Legislators,Legislators,None
3,11-2011,0040,Advertising and Promotions Managers,11-2011,40.0,Advertising and Promotions Managers,Advertising and Promotions Managers,None
4,11-2020,0050,Marketing and Sales Managers,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,11-2021,51.0,Marketing Managers,Marketing Managers,None
6,NaN,NaN,NaN,11-2022,52.0,Sales Managers,Sales Managers,None
7,11-2031,0060,Public Relations and Fundraising Managers,11-2030,60.0,Public Relations and Fundraising Managers,Public Relations and Fundraising Managers,None
8,NaN,NaN,NaN,11-2032,NaN,Public Relations Managers (11-2032),Public Relations Managers,11-2032
9,NaN,NaN,NaN,11-2033,NaN,Fundraising Managers (11-2033),Fundraising Managers,11-2033

Now, we want to forward fill the 2010 Census code to remove the NaN caused by blanks in the Excel spreadsheet.

In [15]:
crosswalk['2010 Census Code'].fillna(method = 'ffill', inplace = True)

In [16]:
crosswalk.head(15)

,2010 SOC code,2010 Census Code,2010 Census Title \n,2018 SOC Code,2018 Census Code,2018 Census Title,2018 Census Title short,Code
0,11-1011,0010,Chief Executives,11-1011,10.0,Chief Executives,Chief Executives,None
1,11-1021,0020,General and Operations Managers,11-1021,20.0,General and Operations Managers,General and Operations Managers,None
2,11-1031,0030,Legislators,11-1031,30.0,Legislators,Legislators,None
3,11-2011,0040,Advertising and Promotions Managers,11-2011,40.0,Advertising and Promotions Managers,Advertising and Promotions Managers,None
4,11-2020,0050,Marketing and Sales Managers,NaN,NaN,NaN,NaN,NaN
5,NaN,0050,NaN,11-2021,51.0,Marketing Managers,Marketing Managers,None
6,NaN,0050,NaN,11-2022,52.0,Sales Managers,Sales Managers,None
7,11-2031,0060,Public Relations and Fundraising Managers,11-2030,60.0,Public Relations and Fundraising Managers,Public Relations and Fundraising Managers,None
8,NaN,0060,NaN,11-2032,NaN,Public Relations Managers (11-2032),Public Relations Managers,11-2032
9,NaN,0060,NaN,11-2033,NaN,Fundraising Managers (11-2033),Fundraising Managers,11-2033
10,11-3011,0100,Administrative Services Managers,NaN,NaN,NaN,NaN,NaN
11,NaN,0100,NaN,11-3012,101.0,Administrative Services Managers,Administrative Services Managers,None
12,NaN,0100,NaN,11-3013,102.0,Facilities Managers,Facilities Managers,None
13,11-3021,0110,Computer and Information Systems Managers,11-3021,110.0,Computer and Information Systems Managers,Computer and Information Systems Managers,None
14,11-3031,0120,Financial Managers,11-3031,120.0,Financial Managers,Financial Managers,None

## Dictionary to Match Census and SOC Codes

We are ready to create the dictionary. As we have many SOC codes to one Census code, we want to groupby SOC code and pull the relevant Census code.

In [17]:
crosswalk_dict = dict(crosswalk.groupby('2018 SOC Code')['2010 Census Code'].apply(list))

# crosswalk_dict

## Using Dictionary to Rename Occupation Codes

ONet to determine level of flexibility by occupation. Measures include: 
- Work Context — Freedom to Make Decisions (https://www.onetonline.org/find/descriptor/result/4.C.3.a.4)
    - No freedom 0 ~ 100 A lot of freedom
- Work Context — Structured versus Unstructured Work (https://www.onetonline.org/find/descriptor/result/4.C.3.b.8)
    - Structured (no freedom) 0 ~ Unstructured (a lot of freedom)
- Work Context — Time Pressure (https://www.onetonline.org/find/descriptor/result/4.C.3.d.1)
    - Never 0 ~ 100 Every day
- Work Context — Regular Work Schedules (https://www.onetonline.org/find/descriptor/result/4.C.3.d.4)
    - Regular/established schedule 0 ~ 100 Seasonal/only during certain times of the year
- Work Styles — Independence (https://www.onetonline.org/find/descriptor/result/1.C.6)
    - No independence 0 ~ 100 A lot of independence
    - "Job requires developing one's own ways of doing things, guiding oneself with little or no supervision, and depending on oneself to get things done."

These were determined to impact flexibility from the browse tool (https://www.onetonline.org/find/descriptor/browse/)

In [31]:
free = pd.read_csv('../Freedom_to_Make_Decisions.csv')
struct = pd.read_csv('../Structured_versus_Unstructured_Work.csv')
time = pd.read_csv('../Time_Pressure.csv')
sched = pd.read_csv('../Work_Schedules.csv')
indep = free = pd.read_csv('../Freedom_to_Make_Decisions.csv')

In [32]:
free = free.rename(columns = {'Context':'Freedom_to_Make_Decisions'})
struct = struct.rename(columns = {'Context':'Structured_v_Unstructured'})
time = time.rename(columns = {'Context':'Time_Pressure'})
sched = sched.rename(columns = {'Context':'Regular_Schedule'})
indep = indep.rename(columns = {'Context':'Independence'})

In [33]:
tmp = pd.merge(free, struct, how='left', on=['Code','Occupation'])
tmp = pd.merge(tmp, time, how='left', on=['Code','Occupation'])
tmp = pd.merge(tmp, sched, how='left', on=['Code','Occupation'])
tmp = pd.merge(tmp, indep, how='left', on=['Code','Occupation'])

onet = tmp
onet.rename(columns = {'Code': '2018 SOC Code'}, inplace=True) # for data straight from ONET
onet.head()

,Freedom_to_Make_Decisions,2018 SOC Code,Occupation,Structured_v_Unstructured,Time_Pressure,Regular_Schedule,Independence
0,100,29-1213.00,Dermatologists,94,70,0,100
1,100,29-1215.00,Family Medicine Physicians,87,93,0,100
2,100,23-1023.00,"Judges, Magistrate Judges, and Magistrates",98,93,0,100
3,100,29-1024.00,Prosthodontists,93,77,6,100
4,100,29-1229.06,Sports Medicine Physicians,94,72,27,100

In [34]:
onet[['2018 SOC Code','drop']] = onet['2018 SOC Code'].str.split(".", expand=True)
onet.drop(columns='drop', inplace=True)

onet.head()

,Freedom_to_Make_Decisions,2018 SOC Code,Occupation,Structured_v_Unstructured,Time_Pressure,Regular_Schedule,Independence
0,100,29-1213,Dermatologists,94,70,0,100
1,100,29-1215,Family Medicine Physicians,87,93,0,100
2,100,23-1023,"Judges, Magistrate Judges, and Magistrates",98,93,0,100
3,100,29-1024,Prosthodontists,93,77,6,100
4,100,29-1229,Sports Medicine Physicians,94,72,27,100

Trying to remove the 2010 Census code from the list in the DateFrame showed that there were missing values in the Census Code column. Investigation found that there were two values not mapping in the dictionary. 

- 2018 SOC Code 53-6031 is listed as 56-6031 in the Crosswalk file, but I am confident that this is a typo as it is listed under 53-6030. The corresponding 2010 Census code is 9360.
- 2018 SOC Code 17-3012 is listed as having a space in the Crosswalk file that was not removed in the string split procedure above. The corresponding 2010 Census code is 1540.

In [35]:
onet['2010 Census Code'] = onet['2018 SOC Code'].map(crosswalk_dict)
nulls = onet[onet['2010 Census Code'].isna()]

nulls

,Freedom_to_Make_Decisions,2018 SOC Code,Occupation,Structured_v_Unstructured,Time_Pressure,Regular_Schedule,Independence,2010 Census Code
235,85,53-6031,Automotive and Watercraft Service Attendants,69,90,11,85,NaN
667,70,17-3012,Electrical and Electronics Drafters,70,83,15,70,NaN

In [ ]:
CORRECTION1 = (onet['2018 SOC Code'] == '53-6031')
CORRECTION2 = (onet['2018 SOC Code'] == '17-3012')

onet.loc[CORRECTION1, '2010 Census Code'] = '[9360]'
onet.loc[CORRECTION2, '2010 Census Code'] = '[1540]'

In [23]:
onet.head()

  2018 SOC Code                                title  teleworkable
0       11-1011                     Chief Executives             1
1       11-1011        Chief Sustainability Officers             1
2       11-1021      General and Operations Managers             1
3       11-2011  Advertising and Promotions Managers             1
4       11-2021                   Marketing Managers             1

Having corrected for the missing values, we can remove the code from the list.

In [24]:
onet['2010 Census Code'] = onet['2010 Census Code'].apply(lambda x: x[0])

KeyError: '2010 Census Code'

In [ ]:
onet.head()

In [ ]:
onet.to_csv('onet_flex.csv', index=False)

## Dingel and Neiman 2020

The data generated by Dingel and Neiman 2020 uses the ONET Release 24.2, which appears to  utilize 2019 codes that must be crosswalked to the 2018 SOC codes prior to merging back to 2010 Census codes.

In [59]:
onet = pd.read_csv('../Dingel and Neiman 2020/occupations_workathome.csv')

onet.rename(columns = {'onetsoccode': '2019 SOC Code'}, inplace=True) # for Dingel and Neiman data
onet.head()

  2019 SOC Code                                title  teleworkable
0    11-1011.00                     Chief Executives             1
1    11-1011.03        Chief Sustainability Officers             1
2    11-1021.00      General and Operations Managers             1
3    11-2011.00  Advertising and Promotions Managers             1
4    11-2021.00                   Marketing Managers             1

In [60]:
crosswalk2019 = pd.read_csv('../2019_to_SOC_Crosswalk.csv')

In [62]:
crosswalk2019.head()

,O*NET-SOC 2019 Code,O*NET-SOC 2019 Title,2018 SOC Code,2018 SOC Title
0,11-1011.00,Chief Executives,11-1011,Chief Executives
1,11-1011.03,Chief Sustainability Officers,11-1011,Chief Executives
2,11-1021.00,General and Operations Managers,11-1021,General and Operations Managers
3,11-1031.00,Legislators,11-1031,Legislators
4,11-2011.00,Advertising and Promotions Managers,11-2011,Advertising and Promotions Managers

In [69]:
crosswalk2019.rename(columns = {'O*NET-SOC 2019 Code': '2019 SOC Code'}, inplace=True)

crosswalk2019_dict = dict(crosswalk2019.groupby('2019 SOC Code')['2018 SOC Code'].apply(list))

In [71]:
crosswalk2019_dict #11-2031.00

{'11-1011.00': ['11-1011'],
 '11-1011.03': ['11-1011'],
 '11-1021.00': ['11-1021'],
 '11-1031.00': ['11-1031'],
 '11-2011.00': ['11-2011'],
 '11-2021.00': ['11-2021'],
 '11-2022.00': ['11-2022'],
 '11-2032.00': ['11-2032'],
 '11-2033.00': ['11-2033'],
 '11-3012.00': ['11-3012'],
 '11-3013.00': ['11-3013'],
 '11-3013.01': ['11-3013'],
 '11-3021.00': ['11-3021'],
 '11-3031.00': ['11-3031'],
 '11-3031.01': ['11-3031'],
 '11-3031.03': ['11-3031'],
 '11-3051.00': ['11-3051'],
 '11-3051.01': ['11-3051'],
 '11-3051.02': ['11-3051'],
 '11-3051.03': ['11-3051'],
 '11-3051.04': ['11-3051'],
 '11-3051.06': ['11-3051'],
 '11-3061.00': ['11-3061'],
 '11-3071.00': ['11-3071'],
 '11-3071.04': ['11-3071'],
 '11-3111.00': ['11-3111'],
 '11-3121.00': ['11-3121'],
 '11-3131.00': ['11-3131'],
 '11-9013.00': ['11-9013'],
 '11-9021.00': ['11-9021'],
 '11-9031.00': ['11-9031'],
 '11-9032.00': ['11-9032'],
 '11-9033.00': ['11-9033'],
 '11-9039.00': ['11-9039'],
 '11-9041.00': ['11-9041'],
 '11-9041.01': ['11-9041'],
 '11-9051.00': ['11-9051'],
 '11-9071.00': ['11-9071'],
 '11-9072.00': ['11-9072'],
 '11-9081.00': ['11-9081'],
 '11-9111.00': ['11-9111'],
 '11-9121.00': ['11-9121'],
 '11-9121.01': ['11-9121'],
 '11-9121.02': ['11-9121'],
 '11-9131.00': ['11-9131'],
 '11-9141.00': ['11-9141'],
 '11-9151.00': ['11-9151'],
 '11-9161.00': ['11-9161'],
 '11-9171.00': ['11-9171'],
 '11-9179.00': ['11-9179'],
 '11-9179.01': ['11-9179'],
 '11-9179.02': ['11-9179'],
 '11-9199.00': ['11-9199'],
 '11-9199.01': ['11-9199'],
 '11-9199.02': ['11-9199'],
 '11-9199.08': ['11-9199'],
 '11-9199.09': ['11-9199'],
 '11-9199.10': ['11-9199'],
 '11-9199.11': ['11-9199'],
 '13-1011.00': ['13-1011'],
 '13-1021.00': ['13-1021'],
 '13-1022.00': ['13-1022'],
 '13-1023.00': ['13-1023'],
 '13-1031.00': ['13-1031'],
 '13-1032.00': ['13-1032'],
 '13-1041.00': ['13-1041'],
 '13-1041.01': ['13-1041'],
 '13-1041.03': ['13-1041'],
 '13-1041.04': ['13-1041'],
 '13-1041.06': ['13-1041'],
 '13-1041.07': ['13-1041'],
 '13-1041.08': ['13-1041'],
 '13-1051.00': ['13-1051'],
 '13-1071.00': ['13-1071'],
 '13-1074.00': ['13-1074'],
 '13-1075.00': ['13-1075'],
 '13-1081.00': ['13-1081'],
 '13-1081.01': ['13-1081'],
 '13-1081.02': ['13-1081'],
 '13-1082.00': ['13-1082'],
 '13-1111.00': ['13-1111'],
 '13-1121.00': ['13-1121'],
 '13-1131.00': ['13-1131'],
 '13-1141.00': ['13-1141'],
 '13-1151.00': ['13-1151'],
 '13-1161.00': ['13-1161'],
 '13-1161.01': ['13-1161'],
 '13-1199.00': ['13-1199'],
 '13-1199.04': ['13-1199'],
 '13-1199.05': ['13-1199'],
 '13-1199.06': ['13-1199'],
 '13-1199.07': ['13-1199'],
 '13-2011.00': ['13-2011'],
 '13-2022.00': ['13-2022'],
 '13-2023.00': ['13-2023'],
 '13-2031.00': ['13-2031'],
 '13-2041.00': ['13-2041'],
 '13-2051.00': ['13-2051'],
 '13-2052.00': ['13-2052'],
 '13-2053.00': ['13-2053'],
 '13-2054.00': ['13-2054'],
 '13-2061.00': ['13-2061'],
 '13-2071.00': ['13-2071'],
 '13-2072.00': ['13-2072'],
 '13-2081.00': ['13-2081'],
 '13-2082.00': ['13-2082'],
 '13-2099.00': ['13-2099'],
 '13-2099.01': ['13-2099'],
 '13-2099.04': ['13-2099'],
 '15-1211.00': ['15-1211'],
 '15-1211.01': ['15-1211'],
 '15-1212.00': ['15-1212'],
 '15-1221.00': ['15-1221'],
 '15-1231.00': ['15-1231'],
 '15-1232.00': ['15-1232'],
 '15-1241.00': ['15-1241'],
 '15-1241.01': ['15-1241'],
 '15-1242.00': ['15-1242'],
 '15-1243.00': ['15-1243'],
 '15-1243.01': ['15-1243'],
 '15-1244.00': ['15-1244'],
 '15-1251.00': ['15-1251'],
 '15-1252.00': ['15-1252'],
 '15-1253.00': ['15-1253'],
 '15-1254.00': ['15-1254'],
 '15-1255.00': ['15-1255'],
 '15-1255.01': ['15-1255'],
 '15-1299.00': ['15-1299'],
 '15-1299.01': ['15-1299'],
 '15-1299.02': ['15-1299'],
 '15-1299.03': ['15-1299'],
 '15-1299.04': ['15-1299'],
 '15-1299.05': ['15-1299'],
 '15-1299.06': ['15-1299'],
 '15-1299.07': ['15-1299'],
 '15-1299.08': ['15-1299'],
 '15-1299.09': ['15-1299'],
 '15-2011.00': ['15-2011'],
 '15-2021.00': ['15-2021'],
 '15-2031.00': ['15-2031'],
 '15-2041.00': ['15-2041'],
 '15-2041.01': ['15-2041'],
 '15-2051.00': ['15-2051'],
 '15-2051.01': ['15-2051'],
 '15-2051.02': ['15-2051'],
 '15-2099.00': ['15-2099'],
 '15-2099.01': ['15-2099'],
 '17-1011.00': ['17-1011'],
 '17-1012.00': ['17-1012'],
 '17-1021.00': ['17-1021'],
 '17-1022.00': ['17-1022'],
 '17-1022.01': ['17-1022'],
 '17-2011.00': ['17-2011'],
 '17-2021.00': ['17-2021'],
 '17-2031.00': ['17-2031'],
 '17-2041.00': ['17-2041'],
 '17-2051.00': ['17-2051'],
 '17-2051.01': ['17-2051'],
 '17-2051.02': ['17-2051'],
 '17-2061.00': ['17-2061'],
 '17-2071.00': ['17-2071'],
 '17-2072.00': ['17-2072'],
 '17-2072.01': ['17-2072'],
 '17-2081.00': ['17-2081'],
 '17-2111.00': ['17-2111'],
 '17-2111.02': ['17-2111'],
 '17-2112.00': ['17-2112'],
 '17-2112.01': ['17-2112'],
 '17-2112.02': ['17-2112'],
 '17-2112.03': ['17-2112'],
 '17-2121.00': ['17-2121'],
 '17-2131.00': ['17-2131'],
 '17-2141.00': ['17-2141'],
 '17-2141.01': ['17-2141'],
 '17-2141.02': ['17-2141'],
 '17-2151.00': ['17-2151'],
 '17-2161.00': ['17-2161'],
 '17-2171.00': ['17-2171'],
 '17-2199.00': ['17-2199'],
 '17-2199.03': ['17-2199'],
 '17-2199.05': ['17-2199'],
 '17-2199.06': ['17-2199'],
 '17-2199.07': ['17-2199'],
 '17-2199.08': ['17-2199'],
 '17-2199.09': ['17-2199'],
 '17-2199.10': ['17-2199'],
 '17-2199.11': ['17-2199'],
 '17-3011.00': ['17-3011'],
 '17-3012.00': ['17-3012'],
 '17-3013.00': ['17-3013'],
 '17-3019.00': ['17-3019'],
 '17-3021.00': ['17-3021'],
 '17-3022.00': ['17-3022'],
 '17-3023.00': ['17-3023'],
 '17-3024.00': ['17-3024'],
 '17-3024.01': ['17-3024'],
 '17-3025.00': ['17-3025'],
 '17-3026.00': ['17-3026'],
 '17-3026.01': ['17-3026'],
 '17-3027.00': ['17-3027'],
 '17-3027.01': ['17-3027'],
 '17-3028.00': ['17-3028'],
 '17-3029.00': ['17-3029'],
 '17-3029.01': ['17-3029'],
 '17-3029.08': ['17-3029'],
 '17-3031.00': ['17-3031'],
 '19-1011.00': ['19-1011'],
 '19-1012.00': ['19-1012'],
 '19-1013.00': ['19-1013'],
 '19-1021.00': ['19-1021'],
 '19-1022.00': ['19-1022'],
 '19-1023.00': ['19-1023'],
 '19-1029.00': ['19-1029'],
 '19-1029.01': ['19-1029'],
 '19-1029.02': ['19-1029'],
 '19-1029.03': ['19-1029'],
 '19-1029.04': ['19-1029'],
 '19-1031.00': ['19-1031'],
 '19-1031.02': ['19-1031'],
 '19-1031.03': ['19-1031'],
 '19-1032.00': ['19-1032'],
 '19-1041.00': ['19-1041'],
 '19-1042.00': ['19-1042'],
 '19-1099.00': ['19-1099'],
 '19-2011.00': ['19-2011'],
 '19-2012.00': ['19-2012'],
 '19-2021.00': ['19-2021'],
 '19-2031.00': ['19-2031'],
 '19-2032.00': ['19-2032'],
 '19-2041.00': ['19-2041'],
 '19-2041.01': ['19-2041'],
 '19-2041.02': ['19-2041'],
 '19-2041.03': ['19-2041'],
 '19-2042.00': ['19-2042'],
 '19-2043.00': ['19-2043'],
 '19-2099.00': ['19-2099'],
 '19-2099.01': ['19-2099'],
 '19-3011.00': ['19-3011'],
 '19-3011.01': ['19-3011'],
 '19-3022.00': ['19-3022'],
 '19-3032.00': ['19-3032'],
 '19-3033.00': ['19-3033'],
 '19-3034.00': ['19-3034'],
 '19-3039.00': ['19-3039'],
 '19-3039.02': ['19-3039'],
 '19-3039.03': ['19-3039'],
 '19-3041.00': ['19-3041'],
 '19-3051.00': ['19-3051'],
 '19-3091.00': ['19-3091'],
 '19-3092.00': ['19-3092'],
 '19-3093.00': ['19-3093'],
 '19-3094.00': ['19-3094'],
 '19-3099.00': ['19-3099'],
 '19-3099.01': ['19-3099'],
 '19-4012.00': ['19-4012'],
 '19-4012.01': ['19-4012'],
 '19-4013.00': ['19-4013'],
 '19-4021.00': ['19-4021'],
 '19-4031.00': ['19-4031'],
 '19-4042.00': ['19-4042'],
 '19-4043.00': ['19-4043'],
 '19-4044.00': ['19-4044'],
 '19-4051.00': ['19-4051'],
 '19-4051.02': ['19-4051'],
 '19-4061.00': ['19-4061'],
 '19-4071.00': ['19-4071'],
 '19-4092.00': ['19-4092'],
 '19-4099.00': ['19-4099'],
 '19-4099.01': ['19-4099'],
 '19-4099.03': ['19-4099'],
 '19-5011.00': ['19-5011'],
 '19-5012.00': ['19-5012'],
 '21-1011.00': ['21-1011'],
 '21-1012.00': ['21-1012'],
 '21-1013.00': ['21-1013'],
 '21-1014.00': ['21-1014'],
 '21-1015.00': ['21-1015'],
 '21-1019.00': ['21-1019'],
 '21-1021.00': ['21-1021'],
 '21-1022.00': ['21-1022'],
 '21-1023.00': ['21-1023'],
 '21-1029.00': ['21-1029'],
 '21-1091.00': ['21-1091'],
 '21-1092.00': ['21-1092'],
 '21-1093.00': ['21-1093'],
 '21-1094.00': ['21-1094'],
 '21-1099.00': ['21-1099'],
 '21-2011.00': ['21-2011'],
 '21-2021.00': ['21-2021'],
 '21-2099.00': ['21-2099'],
 '23-1011.00': ['23-1011'],
 '23-1012.00': ['23-1012'],
 '23-1021.00': ['23-1021'],
 '23-1022.00': ['23-1022'],
 '23-1023.00': ['23-1023'],
 '23-2011.00': ['23-2011'],
 '23-2093.00': ['23-2093'],
 '23-2099.00': ['23-2099'],
 '25-1011.00': ['25-1011'],
 '25-1021.00': ['25-1021'],
 '25-1022.00': ['25-1022'],
 '25-1031.00': ['25-1031'],
 '25-1032.00': ['25-1032'],
 '25-1041.00': ['25-1041'],
 '25-1042.00': ['25-1042'],
 '25-1043.00': ['25-1043'],
 '25-1051.00': ['25-1051'],
 '25-1052.00': ['25-1052'],
 '25-1053.00': ['25-1053'],
 '25-1054.00': ['25-1054'],
 '25-1061.00': ['25-1061'],
 '25-1062.00': ['25-1062'],
 '25-1063.00': ['25-1063'],
 '25-1064.00': ['25-1064'],
 '25-1065.00': ['25-1065'],
 '25-1066.00': ['25-1066'],
 '25-1067.00': ['25-1067'],
 '25-1069.00': ['25-1069'],
 '25-1071.00': ['25-1071'],
 '25-1072.00': ['25-1072'],
 '25-1081.00': ['25-1081'],
 '25-1082.00': ['25-1082'],
 '25-1111.00': ['25-1111'],
 '25-1112.00': ['25-1112'],
 '25-1113.00': ['25-1113'],
 '25-1121.00': ['25-1121'],
 '25-1122.00': ['25-1122'],
 '25-1123.00': ['25-1123'],
 '25-1124.00': ['25-1124'],
 '25-1125.00': ['25-1125'],
 '25-1126.00': ['25-1126'],
 '25-1192.00': ['25-1192'],
 '25-1193.00': ['25-1193'],
 '25-1194.00': ['25-1194'],
 '25-1199.00': ['25-1199'],
 '25-2011.00': ['25-2011'],
 '25-2012.00': ['25-2012'],
 '25-2021.00': ['25-2021'],
 '25-2022.00': ['25-2022'],
 '25-2023.00': ['25-2023'],
 '25-2031.00': ['25-2031'],
 '25-2032.00': ['25-2032'],
 '25-2051.00': ['25-2051'],
 '25-2055.00': ['25-2055'],
 '25-2056.00': ['25-2056'],
 '25-2057.00': ['25-2057'],
 '25-2058.00': ['25-2058'],
 '25-2059.00': ['25-2059'],
 '25-2059.01': ['25-2059'],
 '25-3011.00': ['25-3011'],
 '25-3021.00': ['25-3021'],
 '25-3031.00': ['25-3031'],
 '25-3041.00': ['25-3041'],
 '25-3099.00': ['25-3099'],
 '25-4011.00': ['25-4011'],
 '25-4012.00': ['25-4012'],
 '25-4013.00': ['25-4013'],
 '25-4022.00': ['25-4022'],
 '25-4031.00': ['25-4031'],
 '25-9021.00': ['25-9021'],
 '25-9031.00': ['25-9031'],
 '25-9042.00': ['25-9042'],
 '25-9043.00': ['25-9043'],
 '25-9044.00': ['25-9044'],
 '25-9049.00': ['25-9049'],
 '25-9099.00': ['25-9099'],
 '27-1011.00': ['27-1011'],
 '27-1012.00': ['27-1012'],
 '27-1013.00': ['27-1013'],
 '27-1014.00': ['27-1014'],
 '27-1019.00': ['27-1019'],
 '27-1021.00': ['27-1021'],
 '27-1022.00': ['27-1022'],
 '27-1023.00': ['27-1023'],
 '27-1024.00': ['27-1024'],
 '27-1025.00': ['27-1025'],
 '27-1026.00': ['27-1026'],
 '27-1027.00': ['27-1027'],
 '27-1029.00': ['27-1029'],
 '27-2011.00': ['27-2011'],
 '27-2012.00': ['27-2012'],
 '27-2012.03': ['27-2012'],
 '27-2012.04': ['27-2012'],
 '27-2012.05': ['27-2012'],
 '27-2021.00': ['27-2021'],
 '27-2022.00': ['27-2022'],
 '27-2023.00': ['27-2023'],
 '27-2031.00': ['27-2031'],
 '27-2032.00': ['27-2032'],
 '27-2041.00': ['27-2041'],
 '27-2042.00': ['27-2042'],
 '27-2091.00': ['27-2091'],
 '27-2099.00': ['27-2099'],
 '27-3011.00': ['27-3011'],
 '27-3023.00': ['27-3023'],
 '27-3031.00': ['27-3031'],
 '27-3041.00': ['27-3041'],
 '27-3042.00': ['27-3042'],
 '27-3043.00': ['27-3043'],
 '27-3043.05': ['27-3043'],
 '27-3091.00': ['27-3091'],
 '27-3092.00': ['27-3092'],
 '27-3099.00': ['27-3099'],
 '27-4011.00': ['27-4011'],
 '27-4012.00': ['27-4012'],
 '27-4014.00': ['27-4014'],
 '27-4015.00': ['27-4015'],
 '27-4021.00': ['27-4021'],
 '27-4031.00': ['27-4031'],
 '27-4032.00': ['27-4032'],
 '27-4099.00': ['27-4099'],
 '29-1011.00': ['29-1011'],
 '29-1021.00': ['29-1021'],
 '29-1022.00': ['29-1022'],
 '29-1023.00': ['29-1023'],
 '29-1024.00': ['29-1024'],
 '29-1029.00': ['29-1029'],
 '29-1031.00': ['29-1031'],
 '29-1041.00': ['29-1041'],
 '29-1051.00': ['29-1051'],
 '29-1071.00': ['29-1071'],
 '29-1071.01': ['29-1071'],
 '29-1081.00': ['29-1081'],
 '29-1122.00': ['29-1122'],
 '29-1122.01': ['29-1122'],
 '29-1123.00': ['29-1123'],
 '29-1124.00': ['29-1124'],
 '29-1125.00': ['29-1125'],
 '29-1126.00': ['29-1126'],
 '29-1127.00': ['29-1127'],
 '29-1128.00': ['29-1128'],
 '29-1129.00': ['29-1129'],
 '29-1129.01': ['29-1129'],
 '29-1129.02': ['29-1129'],
 '29-1131.00': ['29-1131'],
 '29-1141.00': ['29-1141'],
 '29-1141.01': ['29-1141'],
 '29-1141.02': ['29-1141'],
 '29-1141.03': ['29-1141'],
 '29-1141.04': ['29-1141'],
 '29-1151.00': ['29-1151'],
 '29-1161.00': ['29-1161'],
 '29-1171.00': ['29-1171'],
 '29-1181.00': ['29-1181'],
 '29-1211.00': ['29-1211'],
 '29-1212.00': ['29-1212'],
 '29-1213.00': ['29-1213'],
 '29-1214.00': ['29-1214'],
 '29-1215.00': ['29-1215'],
 '29-1216.00': ['29-1216'],
 '29-1217.00': ['29-1217'],
 '29-1218.00': ['29-1218'],
 '29-1221.00': ['29-1221'],
 '29-1222.00': ['29-1222'],
 '29-1223.00': ['29-1223'],
 '29-1224.00': ['29-1224'],
 '29-1229.00': ['29-1229'],
 '29-1229.01': ['29-1229'],
 '29-1229.02': ['29-1229'],
 '29-1229.03': ['29-1229'],
 '29-1229.04': ['29-1229'],
 '29-1229.05': ['29-1229'],
 '29-1229.06': ['29-1229'],
 '29-1241.00': ['29-1241'],
 '29-1242.00': ['29-1242'],
 '29-1243.00': ['29-1243'],
 '29-1249.00': ['29-1249'],
 '29-1291.00': ['29-1291'],
 '29-1292.00': ['29-1292'],
 '29-1299.00': ['29-1299'],
 '29-1299.01': ['29-1299'],
 '29-1299.02': ['29-1299'],
 '29-2011.00': ['29-2011'],
 '29-2011.01': ['29-2011'],
 '29-2011.02': ['29-2011'],
 '29-2011.04': ['29-2011'],
 '29-2012.00': ['29-2012'],
 '29-2012.01': ['29-2012'],
 '29-2031.00': ['29-2031'],
 '29-2032.00': ['29-2032'],
 '29-2033.00': ['29-2033'],
 '29-2034.00': ['29-2034'],
 '29-2035.00': ['29-2035'],
 '29-2036.00': ['29-2036'],
 '29-2042.00': ['29-2042'],
 '29-2043.00': ['29-2043'],
 '29-2051.00': ['29-2051'],
 '29-2052.00': ['29-2052'],
 '29-2053.00': ['29-2053'],
 '29-2055.00': ['29-2055'],
 '29-2056.00': ['29-2056'],
 '29-2057.00': ['29-2057'],
 '29-2061.00': ['29-2061'],
 '29-2072.00': ['29-2072'],
 '29-2081.00': ['29-2081'],
 '29-2091.00': ['29-2091'],
 '29-2092.00': ['29-2092'],
 '29-2099.00': ['29-2099'],
 '29-2099.01': ['29-2099'],
 '29-2099.05': ['29-2099'],
 '29-2099.08': ['29-2099'],
 '29-9021.00': ['29-9021'],
 '29-9091.00': ['29-9091'],
 '29-9092.00': ['29-9092'],
 '29-9093.00': ['29-9093'],
 '29-9099.00': ['29-9099'],
 '29-9099.01': ['29-9099'],
 '31-1121.00': ['31-1121'],
 '31-1122.00': ['31-1122'],
 '31-1131.00': ['31-1131'],
 '31-1132.00': ['31-1132'],
 '31-1133.00': ['31-1133'],
 '31-2011.00': ['31-2011'],
 '31-2012.00': ['31-2012'],
 '31-2021.00': ['31-2021'],
 '31-2022.00': ['31-2022'],
 '31-9011.00': ['31-9011'],
 '31-9091.00': ['31-9091'],
 '31-9092.00': ['31-9092'],
 '31-9093.00': ['31-9093'],
 '31-9094.00': ['31-9094'],
 '31-9095.00': ['31-9095'],
 '31-9096.00': ['31-9096'],
 '31-9097.00': ['31-9097'],
 '31-9099.00': ['31-9099'],
 '31-9099.01': ['31-9099'],
 '31-9099.02': ['31-9099'],
 '33-1011.00': ['33-1011'],
 '33-1012.00': ['33-1012'],
 '33-1021.00': ['33-1021'],
 '33-1091.00': ['33-1091'],
 '33-1099.00': ['33-1099'],
 '33-2011.00': ['33-2011'],
 '33-2021.00': ['33-2021'],
 '33-2022.00': ['33-2022'],
 '33-3011.00': ['33-3011'],
 '33-3012.00': ['33-3012'],
 '33-3021.00': ['33-3021'],
 '33-3021.02': ['33-3021'],
 '33-3021.06': ['33-3021'],
 '33-3031.00': ['33-3031'],
 '33-3041.00': ['33-3041'],
 '33-3051.00': ['33-3051'],
 '33-3051.04': ['33-3051'],
 '33-3052.00': ['33-3052'],
 '33-9011.00': ['33-9011'],
 '33-9021.00': ['33-9021'],
 '33-9031.00': ['33-9031'],
 '33-9032.00': ['33-9032'],
 '33-9091.00': ['33-9091'],
 '33-9092.00': ['33-9092'],
 '33-9093.00': ['33-9093'],
 '33-9094.00': ['33-9094'],
 '33-9099.00': ['33-9099'],
 '33-9099.02': ['33-9099'],
 '35-1011.00': ['35-1011'],
 '35-1012.00': ['35-1012'],
 '35-2011.00': ['35-2011'],
 '35-2012.00': ['35-2012'],
 '35-2013.00': ['35-2013'],
 '35-2014.00': ['35-2014'],
 '35-2015.00': ['35-2015'],
 '35-2019.00': ['35-2019'],
 '35-2021.00': ['35-2021'],
 '35-3011.00': ['35-3011'],
 '35-3023.00': ['35-3023'],
 '35-3023.01': ['35-3023'],
 '35-3031.00': ['35-3031'],
 '35-3041.00': ['35-3041'],
 '35-9011.00': ['35-9011'],
 '35-9021.00': ['35-9021'],
 '35-9031.00': ['35-9031'],
 '35-9099.00': ['35-9099'],
 '37-1011.00': ['37-1011'],
 '37-1012.00': ['37-1012'],
 '37-2011.00': ['37-2011'],
 '37-2012.00': ['37-2012'],
 '37-2019.00': ['37-2019'],
 '37-2021.00': ['37-2021'],
 '37-3011.00': ['37-3011'],
 '37-3012.00': ['37-3012'],
 '37-3013.00': ['37-3013'],
 '37-3019.00': ['37-3019'],
 '39-1013.00': ['39-1013'],
 '39-1014.00': ['39-1014'],
 '39-1022.00': ['39-1022'],
 '39-2011.00': ['39-2011'],
 '39-2021.00': ['39-2021'],
 '39-3011.00': ['39-3011'],
 '39-3012.00': ['39-3012'],
 '39-3019.00': ['39-3019'],
 '39-3021.00': ['39-3021'],
 '39-3031.00': ['39-3031'],
 '39-3091.00': ['39-3091'],
 '39-3092.00': ['39-3092'],
 '39-3093.00': ['39-3093'],
 '39-3099.00': ['39-3099'],
 '39-4011.00': ['39-4011'],
 '39-4012.00': ['39-4012'],
 '39-4021.00': ['39-4021'],
 '39-4031.00': ['39-4031'],
 '39-5011.00': ['39-5011'],
 '39-5012.00': ['39-5012'],
 '39-5091.00': ['39-5091'],
 '39-5092.00': ['39-5092'],
 '39-5093.00': ['39-5093'],
 '39-5094.00': ['39-5094'],
 '39-6011.00': ['39-6011'],
 '39-6012.00': ['39-6012'],
 '39-7011.00': ['39-7011'],
 '39-7012.00': ['39-7012'],
 '39-9011.00': ['39-9011'],
 '39-9011.01': ['39-9011'],
 '39-9031.00': ['39-9031'],
 '39-9032.00': ['39-9032'],
 '39-9041.00': ['39-9041'],
 '39-9099.00': ['39-9099'],
 '41-1011.00': ['41-1011'],
 '41-1012.00': ['41-1012'],
 '41-2011.00': ['41-2011'],
 '41-2012.00': ['41-2012'],
 '41-2021.00': ['41-2021'],
 '41-2022.00': ['41-2022'],
 '41-2031.00': ['41-2031'],
 '41-3011.00': ['41-3011'],
 '41-3021.00': ['41-3021'],
 '41-3031.00': ['41-3031'],
 '41-3041.00': ['41-3041'],
 '41-3091.00': ['41-3091'],
 '41-4011.00': ['41-4011'],
 '41-4011.07': ['41-4011'],
 '41-4012.00': ['41-4012'],
 '41-9011.00': ['41-9011'],
 '41-9012.00': ['41-9012'],
 '41-9021.00': ['41-9021'],
 '41-9022.00': ['41-9022'],
 '41-9031.00': ['41-9031'],
 '41-9041.00': ['41-9041'],
 '41-9091.00': ['41-9091'],
 '41-9099.00': ['41-9099'],
 '43-1011.00': ['43-1011'],
 '43-2011.00': ['43-2011'],
 '43-2021.00': ['43-2021'],
 '43-2099.00': ['43-2099'],
 '43-3011.00': ['43-3011'],
 '43-3021.00': ['43-3021'],
 '43-3031.00': ['43-3031'],
 '43-3041.00': ['43-3041'],
 '43-3051.00': ['43-3051'],
 '43-3061.00': ['43-3061'],
 '43-3071.00': ['43-3071'],
 '43-3099.00': ['43-3099'],
 '43-4011.00': ['43-4011'],
 '43-4021.00': ['43-4021'],
 '43-4031.00': ['43-4031'],
 '43-4041.00': ['43-4041'],
 '43-4051.00': ['43-4051'],
 '43-4061.00': ['43-4061'],
 '43-4071.00': ['43-4071'],
 '43-4081.00': ['43-4081'],
 '43-4111.00': ['43-4111'],
 '43-4121.00': ['43-4121'],
 '43-4131.00': ['43-4131'],
 '43-4141.00': ['43-4141'],
 '43-4151.00': ['43-4151'],
 '43-4161.00': ['43-4161'],
 '43-4171.00': ['43-4171'],
 '43-4181.00': ['43-4181'],
 '43-4199.00': ['43-4199'],
 '43-5011.00': ['43-5011'],
 '43-5011.01': ['43-5011'],
 '43-5021.00': ['43-5021'],
 '43-5031.00': ['43-5031'],
 '43-5032.00': ['43-5032'],
 '43-5041.00': ['43-5041'],
 '43-5051.00': ['43-5051'],
 '43-5052.00': ['43-5052'],
 '43-5053.00': ['43-5053'],
 '43-5061.00': ['43-5061'],
 '43-5071.00': ['43-5071'],
 '43-5111.00': ['43-5111'],
 '43-6011.00': ['43-6011'],
 '43-6012.00': ['43-6012'],
 '43-6013.00': ['43-6013'],
 '43-6014.00': ['43-6014'],
 '43-9021.00': ['43-9021'],
 '43-9022.00': ['43-9022'],
 '43-9031.00': ['43-9031'],
 '43-9041.00': ['43-9041'],
 '43-9051.00': ['43-9051'],
 '43-9061.00': ['43-9061'],
 '43-9071.00': ['43-9071'],
 '43-9081.00': ['43-9081'],
 '43-9111.00': ['43-9111'],
 '43-9199.00': ['43-9199'],
 '45-1011.00': ['45-1011'],
 '45-2011.00': ['45-2011'],
 '45-2021.00': ['45-2021'],
 '45-2041.00': ['45-2041'],
 '45-2091.00': ['45-2091'],
 '45-2092.00': ['45-2092'],
 '45-2093.00': ['45-2093'],
 '45-2099.00': ['45-2099'],
 '45-3031.00': ['45-3031'],
 '45-4011.00': ['45-4011'],
 '45-4021.00': ['45-4021'],
 '45-4022.00': ['45-4022'],
 '45-4023.00': ['45-4023'],
 '45-4029.00': ['45-4029'],
 '47-1011.00': ['47-1011'],
 '47-1011.03': ['47-1011'],
 '47-2011.00': ['47-2011'],
 '47-2021.00': ['47-2021'],
 '47-2022.00': ['47-2022'],

In [70]:
onet['2018 SOC Code'] = onet['2019 SOC Code'].map(crosswalk2019_dict)
nulls = onet[onet['2018 SOC Code'].isna()]

nulls

,2019 SOC Code,title,teleworkable,2018 SOC Code
6,11-2031.00,Public Relations and Fundraising Managers,1,NaN
7,11-3011.00,Administrative Services Managers,1,NaN
10,11-3031.02,"Financial Managers, Branch or Department",1,NaN
18,11-3071.01,Transportation Managers,1,NaN
19,11-3071.02,Storage and Distribution Managers,0,NaN
...,...,...,...,...
940,53-5021.03,"Pilots, Ship",0,NaN
949,53-6051.08,Freight and Cargo Inspectors,0,NaN
954,53-7032.00,Excavating and Loading Machine and Dragline Op...,0,NaN
955,53-7033.00,"Loading Machine Operators, Underground Mining",0,NaN
966,53-7111.00,Mine Shuttle Car Operators,0,NaN

In [48]:
crosswalk.head(10)

,2010 SOC code,2010 Census Code,2010 Census Title \n,2018 SOC Code,2018 Census Code,2018 Census Title,2018 Census Title short,Code
0,11-1011,0010,Chief Executives,11-1011,10.0,Chief Executives,Chief Executives,None
1,11-1021,0020,General and Operations Managers,11-1021,20.0,General and Operations Managers,General and Operations Managers,None
2,11-1031,0030,Legislators,11-1031,30.0,Legislators,Legislators,None
3,11-2011,0040,Advertising and Promotions Managers,11-2011,40.0,Advertising and Promotions Managers,Advertising and Promotions Managers,None
4,11-2020,0050,Marketing and Sales Managers,NaN,NaN,NaN,NaN,NaN
5,NaN,0050,NaN,11-2021,51.0,Marketing Managers,Marketing Managers,None
6,NaN,0050,NaN,11-2022,52.0,Sales Managers,Sales Managers,None
7,11-2031,0060,Public Relations and Fundraising Managers,11-2030,60.0,Public Relations and Fundraising Managers,Public Relations and Fundraising Managers,None
8,NaN,0060,NaN,11-2032,NaN,Public Relations Managers (11-2032),Public Relations Managers,11-2032
9,NaN,0060,NaN,11-2033,NaN,Fundraising Managers (11-2033),Fundraising Managers,11-2033

In [52]:
onet[['2018 SOC Code','drop']] = onet['2018 SOC Code'].str.split(".", expand=True)
onet.drop(columns='drop', inplace=True)

onet.head()

  2018 SOC Code                                title  teleworkable
0       11-1011                     Chief Executives             1
1       11-1011        Chief Sustainability Officers             1
2       11-1021      General and Operations Managers             1
3       11-2011  Advertising and Promotions Managers             1
4       11-2021                   Marketing Managers             1

In [53]:
onet['2010 Census Code'] = onet['2018 SOC Code'].map(crosswalk_dict)
nulls = onet[onet['2010 Census Code'].isna()]

nulls

,2018 SOC Code,title,teleworkable,2010 Census Code
6,11-2031,Public Relations and Fundraising Managers,1,NaN
7,11-3011,Administrative Services Managers,1,NaN
36,11-9061,Funeral Service Managers,0,NaN
90,13-2021,Assessors,1,NaN
91,13-2021,"Appraisers, Real Estate",1,NaN
...,...,...,...,...
934,53-4021,"Railroad Brake, Signal, and Switch Operators",0,NaN
945,53-6031,Automotive and Watercraft Service Attendants,0,NaN
954,53-7032,Excavating and Loading Machine and Dragline Op...,0,NaN
955,53-7033,"Loading Machine Operators, Underground Mining",0,NaN
966,53-7111,Mine Shuttle Car Operators,0,NaN