# Merging SOC 2018 and Census 2010 Occupational Codes

In [2]:
import pandas as pd

## Statement of the Problem

To explore the question of flexibility, the inherent properties of occupations should be considered. To do this, I use data from O\*Net to build an index of flexibility for a particular occupation. However, the O\*Net database uses the Standard Occupation Classification (SOC) Code, updated annually, while the CPS and ATUS use the 2010 Census Occupation Classification Codes. 

Linking the occupation codes requires utilizing the Crosswalk (https://www2.census.gov/programs-surveys/demo/guidance/industry-occupation/2018-occupation-code-list-and-crosswalk.xlsx). The design of the Crosswalk between 2018 SOC and 2010 Census is not friendly to easy linking. 

In order to use the Crosswalk to link the 2018 SOC with the 2010 Census, we must first extract some codes from the 2018 Census Title column, fill in empty cells (imported as NaN), create a dictionary, and append the 2010 Census codes to some O\*Net data. 

With the final .csv, we can merge the CPS/ATUS data with the O\*Net job characteristics via the 2010 Census occupation code.

## Extracting 2018 SOC Codes (SOC 2018 -> Census 2010)

Download the crosswalk table, removing the first three rows of title, date updated, and white space. 

Looking at the first ten rows of the data, we see that there are SOC Codes in the Census Title column. We want to extract these codes and put them into the SOC Code column.

In [3]:
crosswalk = pd.read_excel('https://www2.census.gov/programs-surveys/demo/guidance/industry-occupation/2018-occupation-code-list-and-crosswalk.xlsx', 
                sheet_name='2010 to 2018 Crosswalk ',
                header=3)

crosswalk.head(10)

,2010 SOC code,2010 Census Code,2010 Census Title \n,2018 SOC Code,2018 Census Code,2018 Census Title
0,11-1011,0010,Chief Executives,11-1011,10.0,Chief Executives
1,11-1021,0020,General and Operations Managers,11-1021,20.0,General and Operations Managers
2,11-1031,0030,Legislators,11-1031,30.0,Legislators
3,11-2011,0040,Advertising and Promotions Managers,11-2011,40.0,Advertising and Promotions Managers
4,11-2020,0050,Marketing and Sales Managers,NaN,NaN,NaN
5,NaN,NaN,NaN,11-2021,51.0,Marketing Managers
6,NaN,NaN,NaN,11-2022,52.0,Sales Managers
7,11-2031,0060,Public Relations and Fundraising Managers,11-2030,60.0,Public Relations and Fundraising Managers
8,NaN,NaN,NaN,NaN,NaN,Public Relations Managers (11-2032)
9,NaN,NaN,NaN,NaN,NaN,Fundraising Managers (11-2033)

To extract the codes, we are going to use the split function. First we split along the first parenthesis, then we split along the second parenthesis, and drop the unnecessary columns.

In [4]:
crosswalk[['2018 Census Title short','tmp_Code']] = crosswalk['2018 Census Title '].str.split("(", expand=True)

crosswalk[['Code','paren']] = crosswalk['tmp_Code'].str.split(")", expand=True)

crosswalk.drop(['tmp_Code', 'paren'], axis = 1, inplace = True)

crosswalk.head(10)

,2010 SOC code,2010 Census Code,2010 Census Title \n,2018 SOC Code,2018 Census Code,2018 Census Title,2018 Census Title short,Code
0,11-1011,0010,Chief Executives,11-1011,10.0,Chief Executives,Chief Executives,None
1,11-1021,0020,General and Operations Managers,11-1021,20.0,General and Operations Managers,General and Operations Managers,None
2,11-1031,0030,Legislators,11-1031,30.0,Legislators,Legislators,None
3,11-2011,0040,Advertising and Promotions Managers,11-2011,40.0,Advertising and Promotions Managers,Advertising and Promotions Managers,None
4,11-2020,0050,Marketing and Sales Managers,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,11-2021,51.0,Marketing Managers,Marketing Managers,None
6,NaN,NaN,NaN,11-2022,52.0,Sales Managers,Sales Managers,None
7,11-2031,0060,Public Relations and Fundraising Managers,11-2030,60.0,Public Relations and Fundraising Managers,Public Relations and Fundraising Managers,None
8,NaN,NaN,NaN,NaN,NaN,Public Relations Managers (11-2032),Public Relations Managers,11-2032
9,NaN,NaN,NaN,NaN,NaN,Fundraising Managers (11-2033),Fundraising Managers,11-2033

Now that we have extracted the SOC Codes from the Census title, we need to move the values to the 2018 SOC Code column

In [5]:
crosswalk['2018 SOC Code'].fillna(value=crosswalk['Code'], inplace=True)

crosswalk.head(10)

,2010 SOC code,2010 Census Code,2010 Census Title \n,2018 SOC Code,2018 Census Code,2018 Census Title,2018 Census Title short,Code
0,11-1011,0010,Chief Executives,11-1011,10.0,Chief Executives,Chief Executives,None
1,11-1021,0020,General and Operations Managers,11-1021,20.0,General and Operations Managers,General and Operations Managers,None
2,11-1031,0030,Legislators,11-1031,30.0,Legislators,Legislators,None
3,11-2011,0040,Advertising and Promotions Managers,11-2011,40.0,Advertising and Promotions Managers,Advertising and Promotions Managers,None
4,11-2020,0050,Marketing and Sales Managers,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,11-2021,51.0,Marketing Managers,Marketing Managers,None
6,NaN,NaN,NaN,11-2022,52.0,Sales Managers,Sales Managers,None
7,11-2031,0060,Public Relations and Fundraising Managers,11-2030,60.0,Public Relations and Fundraising Managers,Public Relations and Fundraising Managers,None
8,NaN,NaN,NaN,11-2032,NaN,Public Relations Managers (11-2032),Public Relations Managers,11-2032
9,NaN,NaN,NaN,11-2033,NaN,Fundraising Managers (11-2033),Fundraising Managers,11-2033

Now, we want to forward fill the 2010 Census code to remove the NaN caused by blanks in the Excel spreadsheet.

In [6]:
crosswalk['2010 Census Code'].fillna(method = 'ffill', inplace = True)

crosswalk.head(15)

,2010 SOC code,2010 Census Code,2010 Census Title \n,2018 SOC Code,2018 Census Code,2018 Census Title,2018 Census Title short,Code
0,11-1011,0010,Chief Executives,11-1011,10.0,Chief Executives,Chief Executives,None
1,11-1021,0020,General and Operations Managers,11-1021,20.0,General and Operations Managers,General and Operations Managers,None
2,11-1031,0030,Legislators,11-1031,30.0,Legislators,Legislators,None
3,11-2011,0040,Advertising and Promotions Managers,11-2011,40.0,Advertising and Promotions Managers,Advertising and Promotions Managers,None
4,11-2020,0050,Marketing and Sales Managers,NaN,NaN,NaN,NaN,NaN
5,NaN,0050,NaN,11-2021,51.0,Marketing Managers,Marketing Managers,None
6,NaN,0050,NaN,11-2022,52.0,Sales Managers,Sales Managers,None
7,11-2031,0060,Public Relations and Fundraising Managers,11-2030,60.0,Public Relations and Fundraising Managers,Public Relations and Fundraising Managers,None
8,NaN,0060,NaN,11-2032,NaN,Public Relations Managers (11-2032),Public Relations Managers,11-2032
9,NaN,0060,NaN,11-2033,NaN,Fundraising Managers (11-2033),Fundraising Managers,11-2033
10,11-3011,0100,Administrative Services Managers,NaN,NaN,NaN,NaN,NaN
11,NaN,0100,NaN,11-3012,101.0,Administrative Services Managers,Administrative Services Managers,None
12,NaN,0100,NaN,11-3013,102.0,Facilities Managers,Facilities Managers,None
13,11-3021,0110,Computer and Information Systems Managers,11-3021,110.0,Computer and Information Systems Managers,Computer and Information Systems Managers,None
14,11-3031,0120,Financial Managers,11-3031,120.0,Financial Managers,Financial Managers,None

## Dictionary to Match Census and SOC Codes

We are ready to create the dictionary. As we have many SOC codes to one Census code, we want to groupby SOC code and pull the relevant Census code.

In [7]:
crosswalk_dict = dict(crosswalk.groupby('2018 SOC Code')['2010 Census Code'].apply(list))

## Dingel and Neiman 2020

The data generated by Dingel and Neiman 2020 uses the ONET Release 24.2. This release using O\*Net-SOC 2010 taxonomy, that must be crosswalked to O\*Net-SOC 2019 then O\*Net-SOC 2018 to connect with the crosswalk created above using 2010 Census Codes.

- Dingel and Neiman Occupation Codes: O\*Net SOC 2010
- CPS and ATUS: Census 2010

To get from O\*Net SOC 2010 to Census 2010: 
1) Merge data frames 
    1) O\*Net SOC 2010 -> O\*Net SOC 2019 (https://www.onetcenter.org/taxonomy/2019/walk.html)
    2) O\*Net SOC 2019 -> SOC 2018 (https://www.onetcenter.org/taxonomy/2019/soc.html)
    3) SOC 2018 -> Census 2010 (https://www2.census.gov/programs-surveys/demo/guidance/industry-occupation/2018-occupation-code-list-and-crosswalk.xlsx)
2) Use crosswalk_dict above from SOC 2018 to Census 2010

In [39]:
# DN = pd.read_csv('https://raw.githubusercontent.com/jdingel/DingelNeiman-workathome/master/occ_onet_scores/output/occupations_workathome.csv')

# BLS 2010 SOC Code
DN = pd.read_csv('https://raw.githubusercontent.com/jdingel/DingelNeiman-workathome/master/onet_to_BLS_crosswalk/output/onet_teleworkable_blscodes.csv')


DN.rename(columns = {'onetsoccode': 'O*NET-SOC 2010 Code', 'title': 'O*NET-SOC 2010 Title'}, inplace=True)
DN.head(10) # 968 occupations

  OCC_CODE                                  OES_TITLE  teleworkable
0  11-1011                           Chief Executives           1.0
1  11-1021            General and Operations Managers           1.0
2  11-2011        Advertising and Promotions Managers           1.0
3  11-2021                         Marketing Managers           1.0
4  11-2022                             Sales Managers           1.0
5  11-2031  Public Relations and Fundraising Managers           1.0
6  11-3011           Administrative Services Managers           1.0
7  11-3021  Computer and Information Systems Managers           1.0
8  11-3031                         Financial Managers           1.0
9  11-3051             Industrial Production Managers           0.0

In [9]:
# crosswalk = pd.read_excel('https://www2.census.gov/programs-surveys/demo/guidance/industry-occupation/2018-occupation-code-list-and-crosswalk.xlsx', 
#                 sheet_name='2010 to 2018 Crosswalk ',
#                 header=3)

# crosswalk.head(10)

In [10]:
crosswalk_onet_2010_to_2019 = pd.read_csv('https://www.onetcenter.org/taxonomy/2019/walk/2010_to_2019_Crosswalk.csv?fmt=csv')

crosswalk_onet_2010_to_2019.head(10) # 1164 occupations

,O*NET-SOC 2010 Code,O*NET-SOC 2010 Title,O*NET-SOC 2019 Code,O*NET-SOC 2019 Title
0,11-1011.00,Chief Executives,11-1011.00,Chief Executives
1,11-1011.03,Chief Sustainability Officers,11-1011.03,Chief Sustainability Officers
2,11-1021.00,General and Operations Managers,11-1021.00,General and Operations Managers
3,11-1031.00,Legislators,11-1031.00,Legislators
4,11-2011.00,Advertising and Promotions Managers,11-2011.00,Advertising and Promotions Managers
5,11-2011.01,Green Marketers,11-2011.00,Advertising and Promotions Managers
6,11-2021.00,Marketing Managers,11-2021.00,Marketing Managers
7,11-2022.00,Sales Managers,11-2022.00,Sales Managers
8,11-2031.00,Public Relations and Fundraising Managers,11-2032.00,Public Relations Managers
9,11-2031.00,Public Relations and Fundraising Managers,11-2033.00,Fundraising Managers

In [11]:
crosswalk_onet_2019_to_2018 = pd.read_csv('https://www.onetcenter.org/taxonomy/2019/soc/2019_to_SOC_Crosswalk.csv?fmt=csv')

crosswalk_onet_2019_to_2018.head(10) # 1016 occupations

,O*NET-SOC 2019 Code,O*NET-SOC 2019 Title,2018 SOC Code,2018 SOC Title
0,11-1011.00,Chief Executives,11-1011,Chief Executives
1,11-1011.03,Chief Sustainability Officers,11-1011,Chief Executives
2,11-1021.00,General and Operations Managers,11-1021,General and Operations Managers
3,11-1031.00,Legislators,11-1031,Legislators
4,11-2011.00,Advertising and Promotions Managers,11-2011,Advertising and Promotions Managers
5,11-2021.00,Marketing Managers,11-2021,Marketing Managers
6,11-2022.00,Sales Managers,11-2022,Sales Managers
7,11-2032.00,Public Relations Managers,11-2032,Public Relations Managers
8,11-2033.00,Fundraising Managers,11-2033,Fundraising Managers
9,11-3012.00,Administrative Services Managers,11-3012,Administrative Services Managers

In [24]:
tmp = pd.merge(crosswalk_onet_2010_to_2019, crosswalk_onet_2019_to_2018, how='left', on=['O*NET-SOC 2019 Code', 'O*NET-SOC 2019 Title'])
onetDN = pd.merge(DN, tmp, how = 'left', on=['O*NET-SOC 2010 Code', 'O*NET-SOC 2010 Title'])

In [25]:
tmp

,O*NET-SOC 2010 Code,O*NET-SOC 2010 Title,O*NET-SOC 2019 Code,O*NET-SOC 2019 Title,2018 SOC Code,2018 SOC Title
0,11-1011.00,Chief Executives,11-1011.00,Chief Executives,11-1011,Chief Executives
1,11-1011.03,Chief Sustainability Officers,11-1011.03,Chief Sustainability Officers,11-1011,Chief Executives
2,11-1021.00,General and Operations Managers,11-1021.00,General and Operations Managers,11-1021,General and Operations Managers
3,11-1031.00,Legislators,11-1031.00,Legislators,11-1031,Legislators
4,11-2011.00,Advertising and Promotions Managers,11-2011.00,Advertising and Promotions Managers,11-2011,Advertising and Promotions Managers
...,...,...,...,...,...,...
1159,55-3015.00,Command and Control Center Specialists,55-3015.00,Command and Control Center Specialists,55-3015,Command and Control Center Specialists
1160,55-3016.00,Infantry,55-3016.00,Infantry,55-3016,Infantry
1161,55-3017.00,Radar and Sonar Technicians,17-3029.00,"Engineering Technologists and Technicians, Exc...",17-3029,"Engineering Technologists and Technicians, Exc..."
1162,55-3018.00,Special Forces,55-3018.00,Special Forces,55-3018,Special Forces
1163,55-3019.00,Military Enlisted Tactical Operations and Air/...,55-3019.00,Military Enlisted Tactical Operations and Air/...,55-3019,Military Enlisted Tactical Operations and Air/...

In [26]:
DN

,O*NET-SOC 2010 Code,O*NET-SOC 2010 Title,teleworkable
0,11-1011.00,Chief Executives,1
1,11-1011.03,Chief Sustainability Officers,1
2,11-1021.00,General and Operations Managers,1
3,11-2011.00,Advertising and Promotions Managers,1
4,11-2021.00,Marketing Managers,1
...,...,...,...
963,53-7072.00,"Pump Operators, Except Wellhead Pumpers",0
964,53-7073.00,Wellhead Pumpers,0
965,53-7081.00,Refuse and Recyclable Material Collectors,0
966,53-7111.00,Mine Shuttle Car Operators,0
967,53-7121.00,"Tank Car, Truck, and Ship Loaders",0

In [27]:
onetDN

,O*NET-SOC 2010 Code,O*NET-SOC 2010 Title,teleworkable,O*NET-SOC 2019 Code,O*NET-SOC 2019 Title,2018 SOC Code,2018 SOC Title
0,11-1011.00,Chief Executives,1,11-1011.00,Chief Executives,11-1011,Chief Executives
1,11-1011.03,Chief Sustainability Officers,1,11-1011.03,Chief Sustainability Officers,11-1011,Chief Executives
2,11-1021.00,General and Operations Managers,1,11-1021.00,General and Operations Managers,11-1021,General and Operations Managers
3,11-2011.00,Advertising and Promotions Managers,1,11-2011.00,Advertising and Promotions Managers,11-2011,Advertising and Promotions Managers
4,11-2021.00,Marketing Managers,1,11-2021.00,Marketing Managers,11-2021,Marketing Managers
...,...,...,...,...,...,...,...
989,53-7072.00,"Pump Operators, Except Wellhead Pumpers",0,53-7072.00,"Pump Operators, Except Wellhead Pumpers",53-7072,"Pump Operators, Except Wellhead Pumpers"
990,53-7073.00,Wellhead Pumpers,0,53-7073.00,Wellhead Pumpers,53-7073,Wellhead Pumpers
991,53-7081.00,Refuse and Recyclable Material Collectors,0,53-7081.00,Refuse and Recyclable Material Collectors,53-7081,Refuse and Recyclable Material Collectors
992,53-7111.00,Mine Shuttle Car Operators,0,47-5044.00,"Loading and Moving Machine Operators, Undergro...",47-5044,"Loading and Moving Machine Operators, Undergro..."
993,53-7121.00,"Tank Car, Truck, and Ship Loaders",0,53-7121.00,"Tank Car, Truck, and Ship Loaders",53-7121,"Tank Car, Truck, and Ship Loaders"

# THIS IS THE STEP THAT IS BREAKING! 2018 SOC code wrong or 2018 SOC -> 2010 Census wrong.

In [30]:
crosswalk_dict

{'11-1011': ['0010'],
 '11-1021': ['0020'],
 '11-1031': ['0030'],
 '11-2011': ['0040'],
 '11-2021': ['0050'],
 '11-2022': ['0050'],
 '11-2030': ['0060'],
 '11-2032': ['0060'],
 '11-2033': ['0060'],
 '11-3012': ['0100'],
 '11-3013': ['0100'],
 '11-3021': ['0110'],
 '11-3031': ['0120'],
 '11-3051': ['0140'],
 '11-3061': ['0150'],
 '11-3071': ['0160'],
 '11-3111': ['0135'],
 '11-3121': ['0136'],
 '11-3131': ['0137'],
 '11-9013': ['0205'],
 '11-9021': ['0220'],
 '11-9030': ['0230'],
 '11-9031': ['0230'],
 '11-9032': ['0230'],
 '11-9033': ['0230'],
 '11-9039': ['0230'],
 '11-9041': ['0300'],
 '11-9051': ['0310'],
 '11-9070': ['0330'],
 '11-9071': ['0330'],
 '11-9072': ['0330'],
 '11-9081': ['0340'],
 '11-9111': ['0350'],
 '11-9121': ['0360'],
 '11-9131': ['0400'],
 '11-9141': ['0410'],
 '11-9151': ['0420'],
 '11-9161': ['0425'],
 '11-9171': ['0325'],
 '11-9179': ['0425'],
 '11-9199': ['0430'],
 '13-1011': ['0500'],
 '13-1021': ['0510'],
 '13-1022': ['0520'],
 '13-1023': ['0530'],
 '13-1030': ['0540'],
 '13-1031': ['0540'],
 '13-1032': ['0540'],
 '13-1041': ['0565'],
 '13-1051': ['0600'],
 '13-1070': ['0630'],
 '13-1071': ['0630'],
 '13-1074': ['0630'],
 '13-1075': ['0630'],
 '13-1081': ['0700'],
 '13-1082': ['0700'],
 '13-1111': ['0710'],
 '13-1121': ['0725'],
 '13-1131': ['0726'],
 '13-1141': ['0640'],
 '13-1151': ['0650'],
 '13-1161': ['0735'],
 '13-1199': ['0740'],
 '13-2011': ['0800'],
 '13-2020': ['0810'],
 '13-2022': ['0810'],
 '13-2023': ['0810'],
 '13-2031': ['0820'],
 '13-2041': ['0830'],
 '13-2051': ['0840'],
 '13-2052': ['0850'],
 '13-2053': ['0860'],
 '13-2054': ['0950'],
 '13-2061': ['0900'],
 '13-2070': ['0910'],
 '13-2071': ['0910'],
 '13-2072': ['0910'],
 '13-2081': ['0930'],
 '13-2082': ['0940'],
 '13-2099': ['0950'],
 '13-20XX': ['0950'],
 '15-1211': ['1006'],
 '15-1212': ['1007'],
 '15-1221': ['1005'],
 '15-1230': ['1050'],
 '15-1231': ['1050'],
 '15-1232': ['1050'],
 '15-1241': ['1106'],
 '15-1242': ['1060'],
 '15-1243': ['1060'],
 '15-1244': ['1105'],
 '15-124X': ['1060'],
 '15-1251': ['1010'],
 '15-1252': [1020],
 '15-1253': [1020],
 '15-1254': ['1030'],
 '15-1255': ['1030'],
 '15-1299': ['1107'],
 '15-2011': ['1200'],
 '15-2021': ['1210'],
 '15-2031': ['1220'],
 '15-2041': ['1230'],
 '15-2051': ['1240'],
 '15-2099': ['1240'],
 '15-20XX': ['1240'],
 '17-1011': ['1300'],
 '17-1012': ['1300'],
 '17-1020': ['1310'],
 '17-1021': ['1310'],
 '17-1022': ['1310'],
 '17-2011': ['1320'],
 '17-2021': ['1330'],
 '17-2031': ['1340'],
 '17-2041': ['1350'],
 '17-2051': ['1360'],
 '17-2061': ['1400'],
 '17-2070': ['1410'],
 '17-2071': ['1410'],
 '17-2072': ['1410'],
 '17-2081': ['1420'],
 '17-2110': ['1430'],
 '17-2111': ['1430'],
 '17-2112': ['1430'],
 '17-2121': ['1440'],
 '17-2131': ['1450'],
 '17-2141': ['1460'],
 '17-2151': ['1500'],
 '17-2161': ['1510'],
 '17-2171': ['1520'],
 '17-2199': ['1530'],
 '17-3011': ['1540'],
 '17-3012 ': ['1540'],
 '17-3013': ['1540'],
 '17-3019': ['1540'],
 '17-301X': ['1540'],
 '17-3021': [1550],
 '17-3022': [1550],
 '17-3023': [1550],
 '17-3024': [1550],
 '17-3025': [1550],
 '17-3026': [1550],
 '17-3027': [1550],
 '17-3028': [1550],
 '17-3029': [1550],
 '17-302X': [1550],
 '17-3031': ['1560'],
 '19-1010': ['1600'],
 '19-1011': ['1600'],
 '19-1012': ['1600'],
 '19-1013': ['1600'],
 '19-1020': ['1610'],
 '19-1021': ['1610'],
 '19-1022': ['1610'],
 '19-1023': ['1610'],
 '19-1029': ['1610'],
 '19-1030': ['1640'],
 '19-1031': ['1640'],
 '19-1032': ['1640'],
 '19-1040': ['1650'],
 '19-1041': ['1650'],
 '19-1042': ['1650'],
 '19-1099': ['1660'],
 '19-2010': ['1700'],
 '19-2011': ['1700'],
 '19-2012': ['1700'],
 '19-2021': ['1710'],
 '19-2030': ['1720'],
 '19-2031': ['1720'],
 '19-2032': ['1720'],
 '19-2041': ['1740'],
 '19-2042': ['1740'],
 '19-2043': ['1740'],
 '19-204X': ['1740'],
 '19-2099': ['1760'],
 '19-3011': ['1800'],
 '19-3022': ['1815'],
 '19-3032': [1820],
 '19-3033': [1820],
 '19-3034': [1820],
 '19-3039': [1820],
 '19-303X': [1820],
 '19-3041': ['1830'],
 '19-3051': ['1840'],
 '19-3090': ['1860'],
 '19-3091': ['1860'],
 '19-3092': ['1860'],
 '19-3093': ['1860'],
 '19-3094': ['1860'],
 '19-3099': ['1860'],
 '19-4010': ['1900'],
 '19-4012': ['1900'],
 '19-4013': ['1900'],
 '19-4021': ['1910'],
 '19-4031': ['1920'],
 '19-4040': ['1930'],
 '19-4042': ['1930'],
 '19-4043': ['1930'],
 '19-4044': ['1930'],
 '19-4051': ['1940'],
 '19-4061': ['1950'],
 '19-4071': ['1965'],
 '19-4092': ['1965'],
 '19-4099': ['1965'],
 '19-40XX': ['1965'],
 '19-5010': ['3540'],
 '19-5011': ['3540'],
 '19-5012': ['3540'],
 '21-1011': ['2000'],
 '21-1012': ['2000'],
 '21-1013': ['2000'],
 '21-1014': ['2000'],
 '21-1015': ['2000'],
 '21-1019': ['2000'],
 '21-1021': ['2010'],
 '21-1022': ['2010'],
 '21-1023': ['2010'],
 '21-1029': ['2010'],
 '21-1091': ['2025'],
 '21-1092': ['2015'],
 '21-1093': ['2016'],
 '21-1094': ['2025'],
 '21-1099': ['2025'],
 '21-109X': ['2025'],
 '21-2011': ['2040'],
 '21-2021': ['2050'],
 '21-2099': ['2060'],
 '23-1011': ['2100'],
 '23-1012': ['2105'],
 '23-1020': ['2110'],
 '23-1021': ['2110'],
 '23-1022': ['2110'],
 '23-1023': ['2110'],
 '23-2011': ['2145'],
 '23-2093': ['2160'],
 '23-2099': ['2160'],
 '25-1000': ['2200'],
 '25-1011': ['2200'],
 '25-1021': ['2200'],
 '25-1022': ['2200'],
 '25-1031': ['2200'],
 '25-1032': ['2200'],
 '25-1041': ['2200'],
 '25-1042': ['2200'],
 '25-1043': ['2200'],
 '25-1051': ['2200'],
 '25-1052': ['2200'],
 '25-1053': ['2200'],
 '25-1054': ['2200'],
 '25-1061': ['2200'],
 '25-1062': ['2200'],
 '25-1063': ['2200'],
 '25-1064': ['2200'],
 '25-1065': ['2200'],
 '25-1066': ['2200'],
 '25-1067': ['2200'],
 '25-1069': ['2200'],
 '25-1071': ['2200'],
 '25-1072': ['2200'],
 '25-1081': ['2200'],
 '25-1082': ['2200'],
 '25-1111': ['2200'],
 '25-1112': ['2200'],
 '25-1113': ['2200'],
 '25-1121': ['2200'],
 '25-1122': ['2200'],
 '25-1123': ['2200'],
 '25-1124': ['2200'],
 '25-1125': ['2200'],
 '25-1126': ['2200'],
 '25-1192': ['2200'],
 '25-1193': ['2200'],
 '25-1194': ['2200'],
 '25-1199': ['2200'],
 '25-2010': ['2300'],
 '25-2011': ['2300'],
 '25-2012': ['2300'],
 '25-2020': ['2310'],
 '25-2021': ['2310'],
 '25-2022': ['2310'],
 '25-2023': ['2310'],
 '25-2030': ['2320'],
 '25-2031': ['2320'],
 '25-2032': ['2320'],
 '25-2050': ['2330'],
 '25-2051': ['2330'],
 '25-2055': ['2330'],
 '25-2056': ['2330'],
 '25-2057': ['2330'],
 '25-2058': ['2330'],
 '25-2059': ['2330'],
 '25-3011': ['2340'],
 '25-3021': ['2340'],
 '25-3031': ['2340'],
 '25-3041': ['2340'],
 '25-3099': ['2340'],
 '25-30XX': ['2340'],
 '25-4010': ['2400'],
 '25-4011': ['2400'],
 '25-4012': ['2400'],
 '25-4013': ['2400'],
 '25-4022': ['2430'],
 '25-4031': ['2440'],
 '25-9021': ['2550'],
 '25-9031': ['2550'],
 '25-9040': ['2540'],
 '25-9042': ['2540'],
 '25-9043': ['2540'],
 '25-9044': ['2540'],
 '25-9049': ['2540'],
 '25-9099': ['2550'],
 '25-90XX': ['2550'],
 '27-1010': ['2600'],
 '27-1011': ['2600'],
 '27-1012': ['2600'],
 '27-1013': ['2600'],
 '27-1014': ['2600'],
 '27-1019': ['2600'],
 '27-1021': ['2630'],
 '27-1022': ['2630'],
 '27-1023': ['2630'],
 '27-1024': ['2630'],
 '27-1025': ['2630'],
 '27-1026': ['2630'],
 '27-1027': ['2630'],
 '27-1029': ['2630'],
 '27-102X': ['2630'],
 '27-2011': ['2700'],
 '27-2012': ['2710'],
 '27-2021': ['2720'],
 '27-2022': ['2720'],
 '27-2023': ['2720'],
 '27-2030': ['2740'],
 '27-2031': ['2740'],
 '27-2032': ['2740'],
 '27-2041': ['2750'],
 '27-2042': ['2750'],
 '27-2091': ['2750'],
 '27-2099': ['2760'],
 '27-3011': ['2800'],
 '27-3023': ['2810'],
 '27-3031': ['2825'],
 '27-3041': ['2830'],
 '27-3042': ['2840'],
 '27-3043': ['2850'],
 '27-3091': ['2860'],
 '27-3092': ['2160'],
 '27-3099': ['2860'],
 '27-4010': ['2900'],
 '27-4011': ['2900'],
 '27-4012': ['2900'],
 '27-4014': ['2900'],
 '27-4015': ['2900'],
 '27-4021': ['2910'],
 '27-4030': ['2920'],
 '27-4031': ['2920'],
 '27-4032': ['2920'],
 '27-4099': ['2960'],
 '29-1011': ['3000'],
 '29-1020': ['3010'],
 '29-1021': ['3010'],
 '29-1022': ['3010'],
 '29-1023': ['3010'],
 '29-1024': ['3010'],
 '29-1029': ['3010'],
 '29-1031': ['3030'],
 '29-1041': ['3040'],
 '29-1051': ['3050'],
 '29-1071': ['3110'],
 '29-1081': ['3120'],
 '29-1122': ['3150'],
 '29-1123': ['3160'],
 '29-1124': ['3200'],
 '29-1125': ['3210'],
 '29-1126': ['3220'],
 '29-1127': ['3230'],
 '29-1128': ['3235'],
 '29-1129': ['3245'],
 '29-1131': ['3250'],
 '29-1141': ['3255'],
 '29-1151': ['3256'],
 '29-1161': ['3257'],
 '29-1171': ['3258'],
 '29-1181': ['3140'],
 '29-1211': ['3060'],
 '29-1212': ['3060'],
 '29-1213': ['3060'],
 '29-1214': ['3060'],
 '29-1215': ['3060'],
 '29-1216': ['3060'],
 '29-1217': ['3060'],
 '29-1218': ['3060'],
 '29-1221': ['3060'],
 '29-1222': ['3060'],
 '29-1223': ['3060'],
 '29-1224': ['3060'],
 '29-1229': ['3060'],
 '29-1240': ['3060'],
 '29-1241': ['3060'],
 '29-1242': ['3060'],
 '29-1243': ['3060'],
 '29-1249': ['3060'],
 '29-1291': ['3260'],
 '29-1292': ['3310'],
 '29-1299': ['3260'],
 '29-12XX': ['3060'],
 '29-2010': ['3300'],
 '29-2011': ['3300'],
 '29-2012': ['3300'],
 '29-2031': ['3320'],
 '29-2032': ['3320'],
 '29-2033': ['3320'],
 '29-2034': ['3320'],
 '29-2035': ['3320'],
 '29-2036': ['3320'],
 '29-203X': ['3320'],
 '29-2042': ['3400'],
 '29-2043': ['3400'],
 '29-2051': ['3420'],
 '29-2052': ['3420'],
 '29-2053': ['3420'],
 '29-2055': ['3420'],
 '29-2056': ['3420'],
 '29-2057': ['3420'],
 '29-205X': ['3420'],
 '29-2061': ['3500'],
 '29-2072': ['3510'],
 '29-2081': ['3520'],
 '29-2090': ['3535'],
 '29-2091': ['3535'],
 '29-2092': ['3535'],
 '29-2099': ['3535'],
 '29-9000': ['3540'],
 '29-9021': ['3540'],
 '29-9091': ['3540'],
 '29-9092': ['3540'],
 '29-9093': ['3540'],
 '29-9099': ['3540'],
 '31-1121': ['3600'],
 '31-1122': ['4610'],
 '31-1131': ['3600'],
 '31-1132': ['3600'],
 '31-1133': ['3600'],
 '31-113X': ['3600'],
 '31-2010': ['3610'],
 '31-2011': ['3610'],
 '31-2012': ['3610'],
 '31-2020': ['3620'],
 '31-2021': ['3620'],
 '31-2022': ['3620'],
 '31-9011': ['3630'],
 '31-9091': ['3640'],
 '31-9092': ['3645'],
 '31-9093': ['3655'],
 '31-9094': ['3646'],
 '31-9095': ['3647'],
 '31-9096': ['3648'],
 '31-9097': ['3649'],
 '31-9099': ['3655'],
 '31-909X': ['3655'],
 '33-1011': ['3700'],
 '33-1012': ['3710'],
 '33-1021': ['3720'],
 '33-1091': ['3730'],
 '33-1099': ['3730'],
 '33-2011': ['3740'],
 '33-2020': ['3750'],
 '33-2021': ['3750'],
 '33-2022': ['3750'],
 '33-3011': ['3800'],
 '33-3012': ['3800'],
 '33-3021': ['3820'],
 '33-3031': ['3830'],
 '33-3041': ['3840'],
 '33-3050': ['3840'],
 '33-3051': ['3850'],
 '33-3052': ['3860'],
 '33-9011': ['3900'],
 '33-9021': ['3910'],
 '33-9030': ['3930'],
 '33-9031': ['3930'],
 '33-9032': ['3930'],
 '33-9091': ['3940'],
 '33-9092': ['3955'],
 '33-9093': ['3945'],
 '33-9094': ['3955'],
 '33-9099': ['3955'],
 '33-909X': ['3955'],
 '35-1011': ['4000'],
 '35-1012': ['4010'],
 '35-2010': ['4020'],
 '35-2011': ['4020'],
 '35-2012': ['4020'],
 '35-2013': ['4020'],
 '35-2014': ['4020'],
 '35-2015': ['4020'],
 '35-2019': ['4020'],
 '35-2021': ['4030'],
 '35-3011': ['4040'],
 '35-3023': ['4040'],
 '35-3031': ['4110'],
 '35-3041': ['4120'],
 '35-9011': ['4130'],
 '35-9021': ['4140'],
 '35-9031': ['4150'],
 '35-9099': ['4160'],
 '37-1011': ['4200'],
 '37-1012': ['4210'],
 '37-2011': ['4220'],
 '37-2012': ['4230'],
 '37-2019': ['4220'],
 '37-201X': ['4220'],
 '37-2021': ['4240'],
 '37-3011': ['4250'],
 '37-3012': ['4250'],
 '37-3013': ['4250'],
 '37-3019': ['4250'],
 '37-301X': ['4250'],
 '39-1000': ['4250'],
 '39-1013': ['4300'],
 '39-1014': ['4320'],
 '39-1022': ['4320'],
 '39-2011': ['4340'],
 '39-2021': ['4350'],
 '39-3010': ['4400'],
 '39-3011': ['4400'],
 '39-3012': ['4400'],
 '39-3019': ['4400'],
 '39-3021': ['4430'],
 '39-3031': ['4420'],
 '39-3091': ['4430'],
 '39-3092': ['4430'],
 '39-3093': ['4430'],
 '39-3099': ['4430'],
 '39-30XX': ['4430'],
 '39-4011': ['4460'],
 '39-4012': ['4460'],
 '39-4021': ['4460'],
 '39-4031': ['4465'],
 '39-40XX': ['4460'],
 '39-5011': ['4500'],
 '39-5012': ['4510'],
 '39-5091': ['4520'],
 '39-5092': ['4520'],
 '39-5093': ['4520'],
 '39-5094': ['4520'],
 '39-509X': ['4520'],
 '39-6010': ['4530'],
 '39-6011': ['4530'],
 '39-6012': ['4530'],
 '39-7010': ['4540'],
 '39-7011': ['4540'],
 '39-7012': ['4540'],
 '39-9011': ['4600'],
 '39-9031': ['4620'],
 '39-9032': ['4620'],
 '39-9041': ['4640'],
 '39-9099': ['4650'],
 '41-1011': ['4700'],
 '41-1012': ['4710'],
 '41-2010': ['4720'],
 '41-2011': ['4720'],
 '41-2012': ['4720'],
 '41-2021': ['4740'],
 '41-2022': ['4750'],
 '41-2031': ['4760'],
 '41-3011': ['4800'],
 '41-3021': ['4810'],
 '41-3031': ['4820'],
 '41-3041': ['4830'],
 '41-3091': ['4840'],
 '41-4010': ['4850'],
 '41-4011': ['4850'],
 '41-4012': ['4850'],
 '41-9010': ['4900'],
 '41-9011': ['4900'],
 '41-9012': ['4900'],
 '41-9020': ['4920'],
 '41-9021': ['4920'],
 '41-9022': ['4920'],
 '41-9031': ['4930'],
 '41-9041': ['4940'],
 '41-9091': ['4950'],
 '41-9099': ['4965'],
 '43-1011': ['5000'],
 '43-2011': ['5010'],
 '43-2021': ['5020'],
 '43-2099': ['5030'],
 '43-3011': ['5100'],
 '43-3021': ['5110'],
 '43-3031': ['5120'],
 '43-3041': ['5130'],
 '43-3051': ['5140'],
 '43-3061': ['5150'],
 '43-3071': ['5160'],
 '43-3099': ['5165'],
 '43-4011': ['5200'],
 '43-4021': ['5210'],
 '43-4031': ['5220'],
 '43-4041': ['5230'],
 '43-4051': ['5240'],
 '43-4061': ['5250'],
 '43-4071': ['5260'],
 '43-4081': ['5300'],
 '43-4111': ['5310'],
 '43-4121': ['5320'],
 '43-4131': ['5330'],
 '43-4141': ['5340'],
 '43-4151': ['5350'],
 '43-4161': ['5360'],
 '43-4171': ['5400'],
 '43-4181': ['5410'],
 '43-4199': ['5420'],
 '43-5011': ['5500'],
 '43-5021': ['5510'],
 '43-5031': ['5520'],
 '43-5032': ['5520'],
 '43-5041': ['5530'],
 '43-5051': ['5540'],
 '43-5052': ['5550'],
 '43-5053': ['5560'],
 '43-5061': ['5600'],
 '43-5071': ['5610'],
 '43-5111': ['5630'],
 '43-6011': ['5700'],
 '43-6012': ['5700'],
 '43-6013': ['5700'],
 '43-6014': ['5700'],
 '43-9021': ['5810'],
 '43-9022': ['5820'],
 '43-9031': ['5830'],
 '43-9041': ['5840'],
 '43-9051': ['5850'],
 '43-9061': ['5860'],
 '43-9071': ['5900'],
 '43-9081': ['5910'],
 '43-9111': ['5920'],
 '43-9199': ['5940'],
 '45-1011': ['6005'],
 '45-2011': ['6010'],
 '45-2021': ['6020'],
 '45-2041': ['6040'],
 '45-2090': ['6050'],
 '45-2091': ['6050'],
 '45-2092': ['6050'],
 '45-2093': ['6050'],
 '45-2099': ['6050'],
 '45-3031': ['6050'],
 '45-4011': ['6120'],
 '45-4020': ['6130'],
 '45-4021': ['6130'],
 '45-4022': ['6130'],
 '45-4023': ['6130'],
 '45-4029': ['6130'],
 '47-1011': ['6200'],
 '47-2011': ['6210'],
 '47-2020': ['6220'],
 '47-2021': ['6220'],
 '47-2022': ['6220'],
 '47-2031': ['6230'],
 '47-2040': ['6240'],
 '47-2041': ['6240'],
 '47-2042': ['6240'],
 '47-2043': ['6240'],
 '47-2044': ['6240'],
 '47-2050': ['6250'],
 '47-2051': ['6250'],
 '47-2053': ['6250'],
 '47-2061': ['6260'],
 '47-2070': ['6260'],
 '47-2071': ['6300'],
 '47-2072': ['6310'],
 '47-2073': ['6320'],
 '47-2080': ['6330'],
 '47-2081': ['6330'],
 '47-2082': ['6330'],
 '47-2111': ['6355'],
 '47-2121': ['6360'],
 '47-2130': ['6400'],
 '47-2131': ['6400'],
 '47-2132': ['6400'],
 '47-2140': ['6400'],
 '47-2141': ['6420'],
 '47-2142': ['6430'],
 '47-2151': ['6440'],
 '47-2152': ['6440'],
 '47-2161': ['6460'],
 '47-2171': ['6500'],
 '47-2181': ['6515'],
 '47-2211': ['6520'],
 '47-2221': ['6530'],
 '47-2231': ['6540'],
 '47-3010': ['6600'],
 '47-3011': ['6600'],
 '47-3012': ['6600'],
 '47-3013': ['6600'],
 '47-3014': ['6600'],
 '47-3015': ['6600'],
 '47-3016': ['6600'],
 '47-3019': ['6600'],
 '47-4011': ['6660'],
 '47-4021': ['6700'],
 '47-4031': ['6710'],
 '47-4041': ['6720'],
 '47-4051': ['6730'],
 '47-4061': ['6740'],
 '47-4071': ['6750'],
 '47-4090': ['6765'],
 '47-4091': ['6765'],
 '47-4099': ['6765'],
 '47-5010': ['6800'],
 '47-5011': ['6800'],
 '47-5012': ['6800'],
 '47-5013': ['6800'],
 '47-5022': ['9510'],
 '47-5023': ['6820'],
 '47-5032': ['6830'],
 '47-5040': ['6830'],
 '47-5041': ['6840'],
 '47-5043': ['6910'],
 '47-5044': ['6910'],
 '47-5049': ['6910'],
 '47-5051': ['6940'],
 '47-5071': ['6920'],
 '47-5081': ['6940'],
 '47-5099': ['6940'],
 '47-50XX': ['6940'],
 '49-1011': ['7000'],
 '49-2011': ['7010'],
 '49-2020': ['7020'],
 '49-2021': ['7020'],
 '49-2022': ['7020'],
 '49-2091': ['7030'],
 '49-2092': ['7040'],
 '49-2093': ['7050'],
 '49-2094': ['7100'],
 '49-2095': ['7100'],
 '49-2096': ['7110'],
 '49-2097': ['7120'],
 '49-2098': ['7130'],
 '49-209X': ['7100'],
 '49-3011': ['7140'],
 '49-3021': ['7150'],
 '49-3022': ['7160'],
 '49-3023': ['7200'],
 '49-3031': ['7210'],
 '49-3040': ['7220'],
 '49-3041': ['7220'],
 '49-3042': ['7220'],
 '49-3043': ['7220'],
 '49-3050': ['7240'],
 '49-3051': ['7240'],
 '49-3052': ['7240'],
 '49-3053': ['7240'],
 '49-3090': ['7260'],
 '49-3091': ['7260'],
 '49-3092': ['7260'],
 '49-3093': ['7260'],
 '49-9010': ['7300'],
 '49-9011': ['7300'],
 '49-9012': ['7300'],
 '49-9021': ['7315'],
 '49-9031': ['7320'],
 '49-9041': ['7330'],
 '49-9043': ['7350'],
 '49-9044': ['7360'],
 '49-9045': ['7330'],
 '49-904X': ['7330'],
 '49-9051': ['7410'],
 '49-9052': ['7420'],
 '49-9060': ['7430'],
 '49-9061': ['7430'],
 '49-9062': ['7430'],
 '49-9063': ['7430'],
 '49-9064': ['7430'],
 '49-9069': ['7430'],
 '49-9071': ['7340'],
 '49-9081': ['7440'],
 '49-9091': ['7510'],
 '49-9092': ['7520'],
 '49-9094': ['7540'],
 '49-9095': ['7550'],
 '49-9096': ['7560'],
 '49-9097': ['7610'],
 '49-9098': ['7610'],
 '49-9099': ['7630'],
 '49-909X': ['7610'],
 '51-1011': ['7700'],
 '51-2011': ['7710'],
 '51-2020': ['7720'],
 '51-2021': ['7720'],
 '51-2022': ['7720'],
 '51-2023': ['7720'],
 '51-2031': ['7730'],
 '51-2041': ['7740'],
 '51-2051': ['7750'],
 '51-2061': ['7750'],
 '51-2092': ['7750'],
 '51-2099': ['7750'],
 '51-20XX': ['7750'],
 '51-3011': ['7800'],
 '51-3020': ['7810'],
 '51-3021': ['7810'],
 '51-3022': ['7810'],
 '51-3023': ['7810'],
 '51-3091': ['7830'],
 '51-3092': ['7840'],
 '51-3093': ['7850'],
 '51-3099': ['7855'],
 '51-4020': ['7900'],
 '51-4021': ['7920'],
 '51-4022': ['7930'],
 '51-4023': ['7940'],
 '51-4031': ['7950'],
 '51-4032': ['7960'],
 '51-4033': ['8000'],
 '51-4034': ['8010'],
 '51-4035': ['8020'],
 '51-403X': ['8000'],
 '51-4041': ['8030'],
 '51-4050': ['8040'],
 '51-4051': ['8040'],
 '51-4052': ['8040'],
 '51-4060': ['8060'],
 '51-4061': ['8060'],
 '51-4062': ['8060'],
 '51-4070': ['8100'],
 '51-4071': ['8100'],
 '51-4072': ['8100'],
 '51-4081': ['8120'],
 '51-4111': ['8130'],
 '51-4120': ['8140'],
 '51-4121': ['8140'],
 '51-4122': ['8140'],
 '51-4191': ['8150'],
 '51-4192': ['8160'],
 '51-4193': ['8200'],
 '51-4194': ['8210'],
 '51-4199': ['8220'],
 '51-4XXX': ['8140'],
 '51-5111': ['8250'],
 '51-5112': ['8255'],
 '51-5113': ['8256'],
 '51-6011': ['8300'],
 '51-6021': ['8310'],
 '51-6031': ['8320'],
 '51-6040': ['8320'],
 '51-6041': ['8330'],
 '51-6042': ['8340'],
 '51-6050': ['8350'],
 '51-6051': ['8350'],
 '51-6052': ['8350'],
 '51-6060': ['8350'],
 '51-6061': ['8360'],
 '51-6062': ['8400'],
 '51-6063': ['8410'],
 '51-6064': ['8420'],
 '51-6091': ['8430'],
 '51-6092': ['8440'],
 '51-6093': ['8450'],
 '51-6099': ['8460'],
 '51-609X': ['8450'],
 '51-7011': ['8500'],
 '51-7021': ['8510'],
 '51-7030': ['8520'],
 '51-7031': ['8520'],
 '51-7032': ['8520'],
 '51-7041': ['8530'],
 '51-7042': ['8540'],
 '51-7099': ['8550'],
 '51-70XX': ['8540'],
 '51-8010': ['8600'],
 '51-8011': ['8600'],
 '51-8012': ['8600'],
 '51-8013': ['8600'],
 '51-8021': ['8610'],
 '51-8031': ['8620'],
 '51-8090': ['8630'],
 '51-8091': ['8630'],
 '51-8092': ['8630'],
 '51-8093': ['8630'],
 '51-8099': ['8630'],
 '51-9010': ['8640'],
 '51-9011': ['8640'],
 '51-9012': ['8640'],
 '51-9020': ['8650'],
 '51-9021': ['8650'],
 '51-9022': ['8650'],
 '51-9023': ['8650'],
 '51-9030': ['8710'],
 '51-9031': ['8710'],
 '51-9032': ['8710'],
 '51-9041': ['8720'],
 '51-9051': ['8730'],
 '51-9061': ['8740'],
 '51-9071': ['8750'],
 '51-9080': ['8760'],
 '51-9081': ['8760'],
 '51-9082': ['8760'],
 '51-9083': ['8760'],
 '51-9111': ['8800'],
 '51-9120': ['8810'],
 '51-9123': ['8810'],
 '51-9124': ['8810'],
 '51-9141': ['8840'],
 '51-9151': ['8830'],
 '51-9160': ['7900'],
 '51-9161': ['7900'],
 '51-9162': ['7900'],
 '51-9191': ['8850'],
 '51-9192': ['8860'],

In [31]:
onetDN['2010 Census Code'] = onetDN['2018 SOC Code'].map(crosswalk_dict)

In [32]:
onetDN

,O*NET-SOC 2010 Code,O*NET-SOC 2010 Title,teleworkable,O*NET-SOC 2019 Code,O*NET-SOC 2019 Title,2018 SOC Code,2018 SOC Title,2010 Census Code
0,11-1011.00,Chief Executives,1,11-1011.00,Chief Executives,11-1011,Chief Executives,[0010]
1,11-1011.03,Chief Sustainability Officers,1,11-1011.03,Chief Sustainability Officers,11-1011,Chief Executives,[0010]
2,11-1021.00,General and Operations Managers,1,11-1021.00,General and Operations Managers,11-1021,General and Operations Managers,[0020]
3,11-2011.00,Advertising and Promotions Managers,1,11-2011.00,Advertising and Promotions Managers,11-2011,Advertising and Promotions Managers,[0040]
4,11-2021.00,Marketing Managers,1,11-2021.00,Marketing Managers,11-2021,Marketing Managers,[0050]
...,...,...,...,...,...,...,...,...
989,53-7072.00,"Pump Operators, Except Wellhead Pumpers",0,53-7072.00,"Pump Operators, Except Wellhead Pumpers",53-7072,"Pump Operators, Except Wellhead Pumpers",[9650]
990,53-7073.00,Wellhead Pumpers,0,53-7073.00,Wellhead Pumpers,53-7073,Wellhead Pumpers,[9650]
991,53-7081.00,Refuse and Recyclable Material Collectors,0,53-7081.00,Refuse and Recyclable Material Collectors,53-7081,Refuse and Recyclable Material Collectors,[9720]
992,53-7111.00,Mine Shuttle Car Operators,0,47-5044.00,"Loading and Moving Machine Operators, Undergro...",47-5044,"Loading and Moving Machine Operators, Undergro...",[6910]
993,53-7121.00,"Tank Car, Truck, and Ship Loaders",0,53-7121.00,"Tank Car, Truck, and Ship Loaders",53-7121,"Tank Car, Truck, and Ship Loaders",[9740]

In [38]:
onetDN[onetDN['2018 SOC Code']==51-9199]

Empty DataFrame
Columns: [O*NET-SOC 2010 Code, O*NET-SOC 2010 Title, teleworkable, O*NET-SOC 2019 Code, O*NET-SOC 2019 Title, 2018 SOC Code, 2018 SOC Title, 2010 Census Code]
Index: []

Trying to remove the 2010 Census code from the list in the DateFrame showed that there were missing values in the Census Code column. Investigation found that there were two values not mapping in the dictionary. 

- 2018 SOC Code 53-6031 is listed as 56-6031 in the Crosswalk file, but I am confident that this is a typo as it is listed under 53-6030. The corresponding 2010 Census code is 9360.
- 2018 SOC Code 17-3012 is listed as having a space in the Crosswalk file that was not removed in the string split procedure above. The corresponding 2010 Census code is 1540.

In [33]:
# Same null values as before, so we use the same two corrections.

CORRECTION1 = (onetDN['2018 SOC Code'] == '53-6031')
CORRECTION2 = (onetDN['2018 SOC Code'] == '17-3012')

onetDN.loc[CORRECTION1, '2010 Census Code'] = '9360'
onetDN.loc[CORRECTION2, '2010 Census Code'] = '1540'

onetDN.head()

,O*NET-SOC 2010 Code,O*NET-SOC 2010 Title,teleworkable,O*NET-SOC 2019 Code,O*NET-SOC 2019 Title,2018 SOC Code,2018 SOC Title,2010 Census Code
0,11-1011.00,Chief Executives,1,11-1011.00,Chief Executives,11-1011,Chief Executives,[0010]
1,11-1011.03,Chief Sustainability Officers,1,11-1011.03,Chief Sustainability Officers,11-1011,Chief Executives,[0010]
2,11-1021.00,General and Operations Managers,1,11-1021.00,General and Operations Managers,11-1021,General and Operations Managers,[0020]
3,11-2011.00,Advertising and Promotions Managers,1,11-2011.00,Advertising and Promotions Managers,11-2011,Advertising and Promotions Managers,[0040]
4,11-2021.00,Marketing Managers,1,11-2021.00,Marketing Managers,11-2021,Marketing Managers,[0050]

In [34]:
def remove_from_list(x):
    val = x[0]
    if isinstance(x, str):
        return [x][0]
    return val

In [35]:
onetDN['2010 Census Code']=onetDN['2010 Census Code'].apply(remove_from_list)

onetDN['2010 Census Code'].astype(int)

0        10
1        10
2        20
3        40
4        50
       ...
989    9650
990    9650
991    9720
992    6910
993    9740
Name: 2010 Census Code, Length: 994, dtype: int64

In [37]:
onetDN[onetDN['2010 Census Code']==8965]
# onetDN[onetDN['2010 Census Code']==5940]

Empty DataFrame
Columns: [O*NET-SOC 2010 Code, O*NET-SOC 2010 Title, teleworkable, O*NET-SOC 2019 Code, O*NET-SOC 2019 Title, 2018 SOC Code, 2018 SOC Title, 2010 Census Code]
Index: []

In [ ]:
onetDN.to_csv('DingelNeiman2020.csv', index=False)

## Dingel and Neiman 2020

Data from https://github.com/jdingel/DingelNeiman-workathome/tree/master/onet_to_BLS_crosswalk.

- Dingel and Neiman Occupation Codes: SOC 2010
- CPS and ATUS: Census 2010

To get from SOC 2010 to Census 2010: 
1) Merge data frames 
    3) SOC 2010 -> Census 2010 (https://www2.census.gov/programs-surveys/demo/guidance/industry-occupation/2010-occ-codes-with-crosswalk-from-2002-2011.xls)

In [56]:
# BLS 2010 SOC Code
DN = pd.read_csv('https://raw.githubusercontent.com/jdingel/DingelNeiman-workathome/master/onet_to_BLS_crosswalk/output/onet_teleworkable_blscodes.csv')

DN.rename(columns = {'OCC_CODE': '2010 SOC Code'}, inplace=True)#, 'title': 'O*NET-SOC 2010 Title'}, inplace=True)
DN.head(10) # 968 occupations

  2010 SOC Code                                  OES_TITLE  teleworkable
0       11-1011                           Chief Executives           1.0
1       11-1021            General and Operations Managers           1.0
2       11-2011        Advertising and Promotions Managers           1.0
3       11-2021                         Marketing Managers           1.0
4       11-2022                             Sales Managers           1.0
5       11-2031  Public Relations and Fundraising Managers           1.0
6       11-3011           Administrative Services Managers           1.0
7       11-3021  Computer and Information Systems Managers           1.0
8       11-3031                         Financial Managers           1.0
9       11-3051             Industrial Production Managers           0.0

In [57]:
crosswalk = pd.read_excel('https://www2.census.gov/programs-surveys/demo/guidance/industry-occupation/2010-occ-codes-with-crosswalk-from-2002-2011.xls',
                         sheet_name='2010OccCodeList',
                         header=4,
                         usecols=['Occupation 2010 Description', '2010 Census Code', '2010 SOC Code'],
                         ).dropna()

crosswalk.head(10)

,Occupation 2010 Description,2010 Census Code,2010 SOC Code
5,"Management, Business, and Financial Occupations:",0010-0950,11-0000 - 13-0000
7,Management Occupations:,0010-0430,11-0000
9,Chief executives,0010,11-1011
10,General and operations managers,0020,11-1021
11,Legislators,0030,11-1031
12,Advertising and promotions managers,0040,11-2011
13,Marketing and sales managers,0050,11-2020
14,Public relations and fundraising managers,0060,11-2031
15,Administrative services managers,0100,11-3011
16,Computer and information systems managers,0110,11-3021

In [59]:
censusDN = pd.merge(DN, crosswalk, how = 'left', on=['2010 SOC Code'])

censusDN.head(10)

,2010 SOC Code,OES_TITLE,teleworkable,Occupation 2010 Description,2010 Census Code
0,11-1011,Chief Executives,1.0,Chief executives,0010
1,11-1021,General and Operations Managers,1.0,General and operations managers,0020
2,11-2011,Advertising and Promotions Managers,1.0,Advertising and promotions managers,0040
3,11-2021,Marketing Managers,1.0,NaN,NaN
4,11-2022,Sales Managers,1.0,NaN,NaN
5,11-2031,Public Relations and Fundraising Managers,1.0,Public relations and fundraising managers,0060
6,11-3011,Administrative Services Managers,1.0,Administrative services managers,0100
7,11-3021,Computer and Information Systems Managers,1.0,Computer and information systems managers,0110
8,11-3031,Financial Managers,1.0,Financial managers,0120
9,11-3051,Industrial Production Managers,0.0,Industrial production managers,0140

In [32]:
onetDN

,O*NET-SOC 2010 Code,O*NET-SOC 2010 Title,teleworkable,O*NET-SOC 2019 Code,O*NET-SOC 2019 Title,2018 SOC Code,2018 SOC Title,2010 Census Code
0,11-1011.00,Chief Executives,1,11-1011.00,Chief Executives,11-1011,Chief Executives,[0010]
1,11-1011.03,Chief Sustainability Officers,1,11-1011.03,Chief Sustainability Officers,11-1011,Chief Executives,[0010]
2,11-1021.00,General and Operations Managers,1,11-1021.00,General and Operations Managers,11-1021,General and Operations Managers,[0020]
3,11-2011.00,Advertising and Promotions Managers,1,11-2011.00,Advertising and Promotions Managers,11-2011,Advertising and Promotions Managers,[0040]
4,11-2021.00,Marketing Managers,1,11-2021.00,Marketing Managers,11-2021,Marketing Managers,[0050]
...,...,...,...,...,...,...,...,...
989,53-7072.00,"Pump Operators, Except Wellhead Pumpers",0,53-7072.00,"Pump Operators, Except Wellhead Pumpers",53-7072,"Pump Operators, Except Wellhead Pumpers",[9650]
990,53-7073.00,Wellhead Pumpers,0,53-7073.00,Wellhead Pumpers,53-7073,Wellhead Pumpers,[9650]
991,53-7081.00,Refuse and Recyclable Material Collectors,0,53-7081.00,Refuse and Recyclable Material Collectors,53-7081,Refuse and Recyclable Material Collectors,[9720]
992,53-7111.00,Mine Shuttle Car Operators,0,47-5044.00,"Loading and Moving Machine Operators, Undergro...",47-5044,"Loading and Moving Machine Operators, Undergro...",[6910]
993,53-7121.00,"Tank Car, Truck, and Ship Loaders",0,53-7121.00,"Tank Car, Truck, and Ship Loaders",53-7121,"Tank Car, Truck, and Ship Loaders",[9740]

In [38]:
onetDN[onetDN['2018 SOC Code']==51-9199]

Empty DataFrame
Columns: [O*NET-SOC 2010 Code, O*NET-SOC 2010 Title, teleworkable, O*NET-SOC 2019 Code, O*NET-SOC 2019 Title, 2018 SOC Code, 2018 SOC Title, 2010 Census Code]
Index: []

Trying to remove the 2010 Census code from the list in the DateFrame showed that there were missing values in the Census Code column. Investigation found that there were two values not mapping in the dictionary. 

- 2018 SOC Code 53-6031 is listed as 56-6031 in the Crosswalk file, but I am confident that this is a typo as it is listed under 53-6030. The corresponding 2010 Census code is 9360.
- 2018 SOC Code 17-3012 is listed as having a space in the Crosswalk file that was not removed in the string split procedure above. The corresponding 2010 Census code is 1540.

In [33]:
# Same null values as before, so we use the same two corrections.

CORRECTION1 = (onetDN['2018 SOC Code'] == '53-6031')
CORRECTION2 = (onetDN['2018 SOC Code'] == '17-3012')

onetDN.loc[CORRECTION1, '2010 Census Code'] = '9360'
onetDN.loc[CORRECTION2, '2010 Census Code'] = '1540'

onetDN.head()

,O*NET-SOC 2010 Code,O*NET-SOC 2010 Title,teleworkable,O*NET-SOC 2019 Code,O*NET-SOC 2019 Title,2018 SOC Code,2018 SOC Title,2010 Census Code
0,11-1011.00,Chief Executives,1,11-1011.00,Chief Executives,11-1011,Chief Executives,[0010]
1,11-1011.03,Chief Sustainability Officers,1,11-1011.03,Chief Sustainability Officers,11-1011,Chief Executives,[0010]
2,11-1021.00,General and Operations Managers,1,11-1021.00,General and Operations Managers,11-1021,General and Operations Managers,[0020]
3,11-2011.00,Advertising and Promotions Managers,1,11-2011.00,Advertising and Promotions Managers,11-2011,Advertising and Promotions Managers,[0040]
4,11-2021.00,Marketing Managers,1,11-2021.00,Marketing Managers,11-2021,Marketing Managers,[0050]

In [34]:
def remove_from_list(x):
    val = x[0]
    if isinstance(x, str):
        return [x][0]
    return val

In [35]:
onetDN['2010 Census Code']=onetDN['2010 Census Code'].apply(remove_from_list)

onetDN['2010 Census Code'].astype(int)

0        10
1        10
2        20
3        40
4        50
       ...
989    9650
990    9650
991    9720
992    6910
993    9740
Name: 2010 Census Code, Length: 994, dtype: int64

In [37]:
onetDN[onetDN['2010 Census Code']==8965]
# onetDN[onetDN['2010 Census Code']==5940]

Empty DataFrame
Columns: [O*NET-SOC 2010 Code, O*NET-SOC 2010 Title, teleworkable, O*NET-SOC 2019 Code, O*NET-SOC 2019 Title, 2018 SOC Code, 2018 SOC Title, 2010 Census Code]
Index: []

In [ ]:
onetDN.to_csv('DingelNeiman2020.csv', index=False)

# Scratch

## Using Dictionary to Rename Occupation Codes

ONet to determine level of flexibility by occupation. Measures include: 
- Work Context  Freedom to Make Decisions (https://www.onetonline.org/find/descriptor/result/4.C.3.a.4)
    - No freedom 0 ~ 100 A lot of freedom
- Work Context  Structured versus Unstructured Work (https://www.onetonline.org/find/descriptor/result/4.C.3.b.8)
    - Structured (no freedom) 0 ~ Unstructured (a lot of freedom)
- Work Context  Time Pressure (https://www.onetonline.org/find/descriptor/result/4.C.3.d.1)
    - Never 0 ~ 100 Every day
- Work Context  Regular Work Schedules (https://www.onetonline.org/find/descriptor/result/4.C.3.d.4)
    - Regular/established schedule 0 ~ 100 Seasonal/only during certain times of the year
- Work Styles  Independence (https://www.onetonline.org/find/descriptor/result/1.C.6)
    - No independence 0 ~ 100 A lot of independence
    - "Job requires developing one's own ways of doing things, guiding oneself with little or no supervision, and depending on oneself to get things done."

These were determined to impact flexibility from the browse tool (https://www.onetonline.org/find/descriptor/browse/)

In [ ]:
free = pd.read_csv('../Freedom_to_Make_Decisions.csv')
struct = pd.read_csv('../Structured_versus_Unstructured_Work.csv')
time = pd.read_csv('../Time_Pressure.csv')
sched = pd.read_csv('../Work_Schedules.csv')
indep = free = pd.read_csv('../Freedom_to_Make_Decisions.csv')

In [ ]:
free = free.rename(columns = {'Context':'Freedom_to_Make_Decisions'})
struct = struct.rename(columns = {'Context':'Structured_v_Unstructured'})
time = time.rename(columns = {'Context':'Time_Pressure'})
sched = sched.rename(columns = {'Context':'Regular_Schedule'})
indep = indep.rename(columns = {'Context':'Independence'})

In [ ]:
tmp = pd.merge(free, struct, how='left', on=['Code','Occupation'])
tmp = pd.merge(tmp, time, how='left', on=['Code','Occupation'])
tmp = pd.merge(tmp, sched, how='left', on=['Code','Occupation'])
tmp = pd.merge(tmp, indep, how='left', on=['Code','Occupation'])

onet = tmp
onet.rename(columns = {'Code': '2018 SOC Code'}, inplace=True) # for data straight from ONET
onet.head()

In [ ]:
onet[['2018 SOC Code','drop']] = onet['2018 SOC Code'].str.split(".", expand=True)
onet.drop(columns='drop', inplace=True)

onet.head()

Trying to remove the 2010 Census code from the list in the DateFrame showed that there were missing values in the Census Code column. Investigation found that there were two values not mapping in the dictionary. 

- 2018 SOC Code 53-6031 is listed as 56-6031 in the Crosswalk file, but I am confident that this is a typo as it is listed under 53-6030. The corresponding 2010 Census code is 9360.
- 2018 SOC Code 17-3012 is listed as having a space in the Crosswalk file that was not removed in the string split procedure above. The corresponding 2010 Census code is 1540.

In [ ]:
onet['2010 Census Code'] = onet['2018 SOC Code'].map(crosswalk_dict)

onet.head()

In [ ]:
nulls = onet[onet['2010 Census Code'].isna()]

nulls

In [ ]:
CORRECTION1 = (onet['2018 SOC Code'] == '53-6031')
CORRECTION2 = (onet['2018 SOC Code'] == '17-3012')

onet.loc[CORRECTION1, '2010 Census Code'] = ['9360']
onet.loc[CORRECTION2, '2010 Census Code'] = ['1540']

onet.head()

In [ ]:
def remove_from_list(x):
    val = x[0]
    if isinstance(x, str):
        return [x][0]
    return val

In [ ]:
onet['2010 Census Code']=onet['2010 Census Code'].apply(remove_from_list)

onet['2010 Census Code'].astype(int)

In [ ]:
onet

In [ ]:
onet.to_csv('onet_flex.csv', index=False)